<div class="container tablet-width">
  <hgroup>
    <h1>npm On-Site</h1>
    <h2>problems? ring us at 1-844-335-0303</h2>
  </hgroup>
  <p>
    A verification link has been sent to your email. Click the link in the
    email to complete your purchase of npm On-Site.
  </p>
  <p>
    Need more help? <a href="https://calendly.com/npmteam/on-site" target="_blank">Schedule a customized onboarding</a>
  </p>
</div>
