<div class="container tablet-width">
  <hgroup class="center">
    <h1>npm On-Site</h1>
    <h3>To download, please read and agree to our User License Agreement.</h3>
  </hgroup>
  <section>
    <div class="scroll-beyond-300">{{> license-text}}</div>
    <form accept-charset="UTF-8" action="/enterprise-trial-signup" method="POST">
      <input type="hidden" id="customer_email" name="customer_email" value="{{customer_email}}">
      <input type="hidden" id="customer_id" name="customer_id" value="{{customer_id}}">
      <label class="capn-obvs" for="agree">
        <input type="checkbox" required="required" id="agree" name="agree"> I agree to the npm On-Site ULA
      </label>
      <input class="full-width" type="submit" value="let's get it started">
      {{> form_security}}
    </form>
  </section>
</div>
