<div class="container tablet-width">
  <hgroup>
    <h1>npm On-Site</h1>
    <h2>We'll be in touch!</h2>
  </hgroup>

  <p class="center">Thanks for your interest in npm On-Site. You'll be hearing from us soon!</p>
</div>
