<div class="container tablet-width">
  <hgroup>
    <h1 class="preserve-case">npm Enterprise</h1>
    <h2>We'll be in touch!</h2>
  </hgroup>

  <p>Thanks for your interest in npm Enterprise. We'll be in touch by email in the next working day.</p>
</div>
