<div class="container tablet-width">

  <hgroup>
    <h1>npm Enterprise</h1>
    <h2>Licensing</h2>
  </hgroup>

  <section>
    <h2>Step 1: confirm your email address</h2>
    <p>Thanks for choosing to license npm Enterprise. To get started, enter the email address you
      wish to use for billing.</p>

    <form method="post">
      Billing email: <input type="text" name="email" placeholder="billing@mycompany.com">
      <input type="submit" class="full-width" value="Verify billing email">
      {{> form_security}}
    </form>
  </section>

</div>
