<div class="container tablet-width">

  <hgroup>
    <h1>npm Enterprise</h1>
  </hgroup>

  <section>
    <h2>Thanks for your payment</h2>

    <p>Your license has been emailed to your billing address.</p>
  </section>

</div>
