<div class="container tablet-width">

  <hgroup>
    <h1>npm Enterprise</h1>
  </hgroup>

  <section>
    <h2>Sorry</h2>

    <p>There was an error paying for your license. Please contact <a href="mailto:support@npmjs.com">support@npmjs.com</a>.
      Please mention the email address you used to sign up for your trial license.</p>
  </section>

</div>
