<div class="container tablet-width">
  <hgroup>
    <h1 class="preserve-case">npm Enterprise</h1>
    <h2>time to check your email</h2>
  </hgroup>

  <p>
    A verification link has been sent to your email. Click the link in the
    email to get your license key and installation instructions for npm Enterprise.
  </p>

  {{#if mail}}
    {{mail}}
  {{/if}}
</div>
