<h2>Thanks for trying npm Enterprise!</h2>

<p>A verification link has been sent to your email. Click the link in the email to get your license key and installation instructions for npm Enterprise.</p>
