<div class="container tablet-width">
  <hgroup>
    <h1>npm On-Site</h1>
    <h2>time to check your email</h2>
  </hgroup>

  <p class="center">
    A verification link has been sent to your email. Click the link in the
    email to get your license key and installation instructions for npm On-Site.
  </p>
  <h3 class="center">Need help?</h3>
  <p class="center"><a href="https://calendly.com/npmteam/on-site/" target="_blank">schedule a customized onboarding</p>

  {{#if mail}}
    {{mail}}
  {{/if}}

  <img style="display:none" alt="" src="//www.googleadservices.com/pagead/conversion/965451981/?label=z8e7CMaL92AQzcGuzAM&guid=ON&script=0">

</div>
