CANONICAL_HOST=https://localhost:15443
DOWNLOADS_API=https://api.npmjs.org/downloads
ELASTICSEARCH_URL=http://127.0.0.1:9002
FEATURE_ACCESS_PAGE=false
FEATURE_BILLING_PAGE=false
HUBSPOT_FORM_NPME_SIGNUP=12345
HUBSPOT_FORM_NPME_AGREED_ULA=12345
HUBSPOT_FORM_NPME_CONTACT_ME=12345
HUBSPOT_FORM_PRIVATE_NPM=12345
HUBSPOT_FORM_PRIVATE_NPM_SIGNUP=12345
HUBSPOT_PORTAL_ID=12345
LICENSE_API=http://127.0.0.1:5004
MAIL_ACCESS_KEY_ID=your_AWS_access_key_id
MAIL_SECRET_ACCESS_KEY=your_AWS_secret_access_key
MAILCHIMP_KEY=12345-us9
NPME_PRODUCT_ID=12345
REDIS_URL=redis://localhost:6379
SESSION_COOKIE=s
SESSION_PASSWORD=once_upon_a_time_there_was_a_password
SESSION_SALT=put_something_crazy_here_but_maybe_no_weird_chars_please
STRIPE_PUBLIC_KEY=pk_test_dxl0gkFmBMdyGvhgt7Q86KwH
STRIPE_SECRET_KEY=sk_test_bxAixWI4b6LJJZlPSmX8z6hu
USE_CACHE=true
USER_API=http://127.0.0.1:5003
ZENDESK_USERNAME=website@npmjs.com
ZENDESK_TOKEN=deadbeef
ZENDESK_URI=http://localhost:10911/
