{{#if user}}
  {{#unless user.email_verified}}
    <p class="notice verify-email-notice">
      Howdy, {{user.name}}. You'll need to
      <a href="/resend-email-confirmation">verify your email address</a>
      before you can use
      <a href="/private-modules">private modules</a>{{#if features.org_billing}} or <a href="/org">organizations</a>{{/if}}.
    </p>
  {{/unless}}
{{/if}}
