<section>
  <div class="members-to-add">
    <div class="member-header clear">
      <div class="add-count">
        <span class="add-number">0</span>
        <span class="unit">Users</span>
      </div>
      <a id="remove-all-added" class="remove-all-users btn-link" type="button">remove all</a>
    </div>
    <ul class="members-list">
    </ul>
  </div>
</section>
