<div class="secondary-nav">
  <div class="container">
    <a href="/package/{{name}}">package info</a>
    <a href="/package/{{name}}/access">access and collaborators</a>
    <a href="/package/{{name}}/files">file tree</a>
  </div>
</div>
