{{#if isCollaboratedOnByUser}}
  <div class="left-aligned secondary-nav">
    <div class="container">
      <a href="/package/{{name}}">readme and info</a>
      <a href="/package/{{name}}/access">access</a>
    </div>
  </div>
{{/if}}
