{{#if paginate}}
  <div class="pagination">
    {{#if prevPage}}
      <a href="{{prevUrl}}" class="previous">Previous</a>
    {{/if}}

    <a href="{{currUrl}}" class="active">{{page}}</a>

    {{#if nextPage}}
      <a href="{{nextUrl}}" class="next">Next</a>
    {{/if}}
  </div>
{{/if}}
