<table class="ruled key-value card-info">
  <tbody>
    <tr>
      <td>Card Type</td>
      <td class="card-brand">{{customer.card.brand}}</td>
    </tr>
    <tr>
      <td>Last 4 Digits</td>
      <td class="card-last4">{{customer.card.last4}}</td>
    </tr>
    <tr>
      <td>Expiration</td>
      <td>
        <span class="card-exp-month">{{month-name customer.card.exp_month}}</span>
        <span class="card-exp-year">{{customer.card.exp_year}}</td></span>
    </tr>
  </tbody>
</table>
