<div id="secondary-nav">
  <div class="container">
    <a href="/profile-edit" class="tab" data-tab="profile">edit profile</a>
    <a href="/email-edit" class="tab" data-tab="edit-email">edit email</a>
    <a href="/password" class="tab" data-tab="password">change password</a>
  </div>
</div>
