<div class="secondary-nav">
  <div class="container">
    <a href="/profile-edit">profile</a>
    <a href="/email-edit">email</a>
    <a href="/password">password</a>
    {{#if features.billing_page}}
      <a href="/settings/billing">subscriptions</a>
    {{/if}}
  </div>
</div>
