<div class="secondary-nav">
  <div class="container">
    <a href="/profile-edit">profile</a>
    <a href="/email-edit">email</a>
    <a href="/password">password</a>
    <a href="/settings/billing">{{#if features.org_billing}}subscriptions{{else}}billing{{/if}}</a>
  </div>
</div>
