<div class="secondary-nav">
  <div class="container">
    <a href="/profile-edit">profile</a>
    <a href="/email-edit">email</a>
    <a href="/password">password</a>
    <a href="/settings/billing">subscriptions</a>
    <a href="/settings/tokens">tokens</a>
  </div>
</div>
