<div id="secondary-nav">
  <div class="container">
    <a href="/profile-edit" class="tab" data-tab="profile">profile</a>
    <a href="/email-edit" class="tab" data-tab="edit-email">email</a>
    <a href="/password" class="tab" data-tab="password">password</a>
    <a href="/settings/billing" class="tab" data-tab="billing">billing</a>
  </div>
</div>
