{{#if user.email_verified}}

<h2>Update your billing information</h2>

<p class="error billing-error" style="display:none;"></p>

<form method="POST" action="/settings/billing" id="payment-form" data-stripe-public-key="{{stripePublicKey}}">
  <label for="card-number">Card Number</label>
  <input required="required" type="text" size="20" data-stripe="number" id="card-number" />

  <label for="card-cvc">Card security code</label>
  <input required="required" type="text" size="4" data-stripe="cvc" placeholder="123" class="cvc" id="card-cvc" />

  <label for="card-exp-month">Expiration Month</label>
  <input required="required" type="text" size="2" data-stripe="exp-month" placeholder="MM" id="card-exp-month" />

  <label for="card-exp-year">Expiration Year</label>
  <input required="required" type="text" size="4" data-stripe="exp-year" placeholder="YYYY" id="card-exp-year" />

  {{> form_security}}
  <input type="submit" class="full-width" value="update billing info">

</form>
{{/if}}

