lesscss-percentage(n)
  (n * 100)%
syntax-text-color = rgb(0, 0, 0, 1)
syntax-cursor-color = rgb(0, 0, 0, 1)
syntax-selection-color = rgb(175, 196, 218, 1)
syntax-selection-flash-color = rgb(102, 153, 204, 1)
syntax-background-color = rgb(240, 240, 240, 1)
syntax-wrap-guide-color = rgba(85, 85, 85, 0.2)
syntax-indent-guide-color = rgba(85, 85, 85, 0.2)
syntax-invisible-character-color = rgba(85, 85, 85, 0.2)
syntax-result-marker-color = rgb(153, 153, 153, 1)
syntax-result-marker-color-selected = rgb(0, 0, 0, 1)
syntax-gutter-text-color = syntax-text-color
syntax-gutter-text-color-selected = syntax-gutter-text-color
syntax-gutter-background-color = rgb(255, 255, 255, 1)
syntax-gutter-background-color-selected = rgba(255, 255, 134, 0.34)
syntax-color-renamed = rgb(150, 203, 254, 1)
syntax-color-added = rgb(113, 140, 0, 1)
syntax-color-modified = rgb(255, 152, 45, 1)
syntax-color-removed = rgb(221, 17, 68, 1)
