html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
samp,
small,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 0 0 80px;
  clear: left;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.layout-left hr {
  margin: 40px 0;
}
.layout-left p + hr,
.layout-left ul + hr {
  margin: 25px 0;
}
input,
select {
  vertical-align: middle;
}
body {
  font: 400 16px/25px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  *font-size: small;
  letter-spacing: -0.03em;
}
select,
input,
textarea,
button {
  font: 99% sans-serif;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
a,
a:hover,
a:active {
  outline: none;
}
sub,
sup {
  font-size: 50%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.9em;
}
a {
  text-decoration: none;
}
a:link {
  -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
html,
body {
  -webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: rgba(0,0,0,0.6);
}
.red {
  color: #cb3837;
}
.subdued {
  opacity: 0.6;
}
a {
  color: #cb3837;
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.view-all {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
a.view-all strong {
  font-weight: 700;
}
a.view-all.icon-arrow-right:before {
  content: "";
}
a.view-all.icon-arrow-right:after {
  font-family: icomoon;
  content: "\e603";
  float: right;
  font-size: 7px;
  margin: 0 0 0 6px;
}
h1 {
  font: 400 54px/65px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  letter-spacing: -3px;
  color: rgba(0,0,0,0.8);
}
h1:before {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}
h2 {
  margin: 0 0 25px;
  letter-spacing: -0.03em;
  font: 700 24px/29px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0,0,0,0.6);
}
h2 span {
  font-weight: 400;
}
h2[class^="icon-"],
h2[class*=" icon-"] {
  line-height: 45px;
  margin: 0 0 35px;
}
h2:before {
  font-size: 45px;
  float: left;
  margin-right: 10px;
}
form h2 {
  color: #cb3837;
}
h3 {
  display: block;
  margin: 15px 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  color: rgba(0,0,0,0.8);
}
h4 {
  margin: 0 0 10px;
  letter-spacing: -0.03em;
  font: 600 16px/16px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0,0,0,0.6);
}
h4 span {
  font-weight: 400;
}
hgroup {
  text-align: center;
  text-transform: lowercase;
}
hgroup h2 {
  font-weight: 300;
}
p {
  margin: 0 0 25px;
}
strong.code {
  font-family: 'Source Code Pro', 'Courier', sans-serif;
}
.btn {
  display: inline-block;
  height: 47px;
  padding: 0 50px;
  color: #fff;
  font-weight: 600;
  line-height: 47px;
  text-align: center;
  border-radius: 4px;
  background: #cb3837;
}
.btn:hover {
  background: rgba(0,0,0,0.8);
}
.btn.gray {
  margin-right: 10px;
  background: c;
}
.btn.gray:hover {
  background: rgba(0,0,0,0.8);
}
ul {
  margin: 25px 0 25px 35px;
}
ul li {
  list-style: disc;
}
ul.sortable {
  margin: 25px 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}
ul.sortable li {
  list-style: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  height: 45px;
  line-height: 45px;
  padding-left: 30px;
  background: url("../img/sortable-handle.png") no-repeat 0 50%;
}
a .icon-add:before {
  float: left;
  color: #fff;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 17px;
  font-size: 9px;
  text-align: center;
  margin: 0 6px 0 0;
  background: #cb3837;
}
@font-face {
  font-family: 'icomoon';
  src: url("/assets/fonts/icomoon.eot?gqpuz");
  src: url("/assets/fonts/icomoon.eot?#iefixgqpuz") format('embedded-opentype'), url("/assets/fonts/icomoon.woff?gqpuz") format('woff'), url("/assets/fonts/icomoon.ttf?gqpuz") format('truetype'), url("/assets/fonts/icomoon.svg?gqpuz#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.icon-add:before {
  content: "\e600";
}
.icon-arrow-down:before {
  content: "\e601";
}
.icon-arrow-left:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e603";
}
.icon-arrow-tri-left:before {
  content: "\e604";
}
.icon-arrow-tri-right:before {
  content: "\e605";
}
.icon-arrow-up:before {
  content: "\e606";
}
.icon-cal-7days:before {
  content: "\e607";
}
.icon-cal-24hours:before {
  content: "\e608";
}
.icon-cal-30days:before {
  content: "\e609";
}
.icon-collections-hex:before {
  content: "\e60a";
}
.icon-collections:before {
  content: "\e60b";
}
.icon-contact:before {
  content: "\e60c";
}
.icon-download:before {
  content: "\e60d";
}
.icon-edit:before {
  content: "\e60e";
}
.icon-github:before {
  content: "\e60f";
}
.icon-health-yay:before {
  content: "\e610";
}
.icon-health-meh:before {
  content: "\e611";
}
.icon-health-uh-oh:before {
  content: "\e612";
}
.icon-health-rip:before {
  content: "\e613";
}
.icon-history:before {
  content: "\e614";
}
.icon-i-used-this-hex:before {
  content: "\e615";
}
.icon-i-used-this:before {
  content: "\e616";
}
.icon-package-hex:before {
  content: "\e617";
}
.icon-package:before {
  content: "\e618";
}
.icon-x:before {
  content: "\e619";
}
.icon-search:before {
  content: "\e61a";
}
.icon-star-hex:before {
  content: "\e61b";
}
.icon-star:before {
  content: "\e61c";
}
.icon-support:before {
  content: "\e61d";
}
.icon-tag:before {
  content: "\e61e";
}
.icon-twitter:before {
  content: "\e61f";
}
.icon-website:before {
  content: "\e620";
}
.layout-right form {
  margin: 0 0 60px;
}
label {
  display: block;
  margin: 0 0 7px;
  color: rgba(0,0,0,0.8);
  font-weight: 600;
}
label.checkbox {
  color: #cb3837;
  font-size: 14px;
}
textarea {
  border: 1px solid rgba(0,0,0,0.1);
  margin: 0 0 50px;
  padding: 3%;
  width: 94%;
  min-height: 300px;
  border-radius: 4px;
  font: 400 16px/25px 'Source Code Pro', 'Courier', sans-serif;
  color: rgba(0,0,0,0.6);
  outline: 0;
  resize: none;
}
input[type=text],
input[type=password] {
  display: block;
  width: 96%;
  height: 38px;
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 0 0 20px;
  border-radius: 4px;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0,0,0,0.6);
  outline: 0;
}
input[type=checkbox] {
  margin: 0 6px 0 0;
}
select {
  display: block;
  width: 96%;
  margin: 0 0 20px;
  outline: 0;
}
input[type=submit] {
  border: 0;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  padding: 0 35px;
  margin: 0 0 4px;
  height: 47px;
  line-height: 47px;
  color: #fff;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-size: 18px;
  background: #cb3837;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=submit]:hover {
  background: rgba(0,0,0,0.8);
}
input[type=file] {
  margin: 0 0 50px;
}
.help-text {
  font-size: 14px;
  color: rgba(0,0,0,0.5);
  line-height: 18px;
  margin: -15px 0 22px;
}
.layout-left form#content-search {
  position: relative;
  height: 47px;
  padding: 0;
  margin: 0 0 50px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  background: #fff;
}
.layout-left form#content-search #content-search-input {
  position: absolute;
  top: 7px;
  left: 20px;
  width: 80%;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-size: 18px;
  background: none;
}
.layout-left form#content-search #content-search-submit {
  position: absolute;
  top: 0;
  right: 0;
  height: 47px;
  width: 46px;
  border: 0;
  text-indent: -9999em;
  cursor: pointer;
  outline: 0;
  border-left: 1px solid rgba(0,0,0,0.1);
  border-radius: 0 2px 2px 0;
  background: url("../img/ico-search.png") no-repeat 50% 50%;
}
.layout-left form#content-search #content-search-submit:hover {
  width: 47px;
  height: 49px;
  top: -1px;
  right: -1px;
  border-left: 0;
  background: #cb3837 url("../img/ico-search-hover.png") no-repeat 50% 50%;
}
.customSelect {
  margin: -2px 0 20px;
  border: 1px solid rgba(0,0,0,0.1);
  padding-top: 1px;
  border-radius: 4px;
  width: 96%;
  height: 38px;
  letter-spacing: 0px;
  font: 600 18px/38px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-size: 13px;
  padding-left: 10px;
  background: url("../img/select-bg.png") no-repeat 95% 50%;
}
.login-forms {
  width: 300px;
  margin: 0 auto 50px;
  text-align: left;
}
.login-forms p {
  margin: 25px 0 0;
  color: rgba(0,0,0,0.5);
  font-size: 15px;
  text-align: center;
}
.login-forms p.help-text {
  margin: -15px 0 22px;
  text-align: left;
}
.login-forms p a {
  text-decoration: none;
  margin: 0 5px;
}
.login-forms p a:hover {
  color: rgba(0,0,0,0.8);
}
.login-forms input[type=submit] {
  width: 100%;
  text-transform: lowercase;
}
.login-forms label {
  text-transform: lowercase;
}
nav {
  height: 38px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 39px;
  text-align: right;
  border-bottom: 1px solid #b83130;
  background: #cb3837;
}
@media only screen and (max-width: 767px) {
  nav {
    display: none;
    position: absolute;
    top: 86px;
    left: 0;
    right: 0;
    border-bottom: 0;
    background: rgba(0,0,0,0.04);
    z-index: 12;
  }
}
nav a {
  display: inline-block;
  height: 36px;
  margin: 0 0 0 16px;
  opacity: 0.6;
  color: #fff;
}
nav a:hover,
nav a.active {
  opacity: 1;
  border-bottom: 3px solid #fff;
}
@media only screen and (max-width: 767px) {
  nav a {
    display: block;
    text-align: center;
    margin: 0;
    background: #cb3837;
    opacity: 1;
    border-bottom: 1px solid #fff;
  }
  nav a:hover {
    color: #cb3837;
    background: rgba(0,0,0,0.04);
    border-bottom: 1px solid #fff;
  }
}
nav a#mobile-home {
  visibility: hidden;
}
@media only screen and (max-width: 767px) {
  nav a#mobile-home {
    visibility: visible;
  }
}
nav h2 {
  float: left;
  font: 400 14px/39px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  nav h2 {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  nav .container {
    padding: 0;
  }
}
#mobile-menu {
  display: none;
  position: absolute;
  top: -3px;
  right: 20px;
  width: 50px;
  height: 36px;
  text-indent: -9999em;
  background: url("../img/ico-mobile-menu.png") no-repeat top right;
}
@media only screen and (max-width: 767px) {
  #mobile-menu {
    display: block;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  #mobile-menu {
    background: url("../img/ico-mobile-menu@2x.png") no-repeat top right;
    background-size: 26px 18px;
  }
}
#secondary-nav {
  min-height: 65px;
  margin: 0 0 75px;
  background: url("../img/secondary-nav-bg.png") repeat-x bottom left;
}
@media only screen and (max-width: 767px) {
  #secondary-nav {
    min-height: 45px;
  }
}
#secondary-nav a {
  display: inline-block;
  height: 63px;
  margin: 0 30px 0 0;
  line-height: 65px;
  font: 600 16px/65px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0,0,0,0.5);
}
@media only screen and (max-width: 767px) {
  #secondary-nav a {
    font: 600 13px/45px 'Source Sans Pro', 'Lucida Grande', sans-serif;
    height: 43px;
    margin: 0 15px 0 0;
  }
}
#secondary-nav a:hover,
#secondary-nav a.active {
  color: rgba(0,0,0,0.8);
  border-bottom: 2px solid #cb3837;
}
#profile-nav {
  min-height: 67px;
  margin: 0 0 95px;
  background: url("../img/secondary-nav-bg.png") repeat-x bottom left;
}
@media only screen and (max-width: 767px) {
  #profile-nav {
    position: relative;
    margin: 0 0 50px;
    background: none;
  }
}
#profile-nav .container {
  padding-left: 170px;
  max-width: 1010px;
}
@media only screen and (max-width: 767px) {
  #profile-nav .container {
    padding-left: 0;
    position: absolute;
    top: -80px;
    left: 105px;
  }
}
#profile-nav a {
  display: inline-block;
  height: 67px;
  margin: 0 30px 0 0;
  font: 600 16px/67px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0,0,0,0.5);
}
#profile-nav a:before {
  margin-right: 8px;
  float: left;
  line-height: 69px;
}
@media only screen and (max-width: 767px) {
  #profile-nav a:before {
    line-height: 15px;
  }
}
@media only screen and (max-width: 767px) {
  #profile-nav a {
    display: inline-block;
    height: auto;
    margin: 0 10px 0 0;
    font: 600 13px/15px 'Source Sans Pro', 'Lucida Grande', sans-serif;
    color: rgba(255,255,255,0.4);
  }
}
#profile-nav a:hover {
  color: rgba(0,0,0,0.8);
}
#package-nav {
  position: relative;
  min-height: 33px;
  margin: 0 0 95px;
  padding: 17px 0;
  background: url("../img/secondary-nav-bg.png") repeat-x bottom left;
}
@media only screen and (max-width: 767px) {
  #package-nav {
    background: none;
    margin: 0 0 50px;
  }
}
#package-nav .container {
  padding-left: 170px;
  max-width: 1010px;
}
@media only screen and (max-width: 767px) {
  #package-nav .container {
    padding-left: 105px;
  }
}
#package-nav .container h4 {
  color: #cb3837;
  margin: 8px 0 0;
}
@media only screen and (max-width: 767px) {
  #package-nav .container h4 {
    position: absolute;
    top: -90px;
  }
}
#package-nav .container h5 {
  font: 600 13px/13px 'Source Code Pro', 'Courier', sans-serif;
  color: rgba(0,0,0,0.5);
  margin: 0 0 5px;
}
@media only screen and (max-width: 767px) {
  #package-nav .container h5 {
    position: absolute;
    top: -90px;
  }
}
#package-nav .container p {
  margin: 0;
  font: 600 14px/14px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0,0,0,0.8);
}
@media only screen and (max-width: 767px) {
  #package-nav .container p {
    position: absolute;
    top: -70px;
  }
}
header {
  padding: 28px 0 20px;
  border-bottom: 1px solid #d3d3d3;
  background: rgba(0,0,0,0.04);
}
header#collections {
  min-height: 450px;
  background: rgba(0,0,0,0.04) url("../img/header-collection.png") no-repeat bottom right;
}
@media only screen and (max-width: 1023px) {
  header#collections {
    background: none;
  }
}
header#nux {
  min-height: 350px;
  background: rgba(0,0,0,0.04) url("../img/header-nux.png") no-repeat bottom right;
}
@media only screen and (max-width: 1023px) {
  header#nux {
    background: none;
  }
}
header.no-nav {
  margin-bottom: 1em;
}
@media only screen and (max-width: 767px) {
  header.no-nav {
    margin-bottom: 1em;
  }
}
header h1 {
  clear: left;
  padding-top: 1em;
}
header h1 em {
  color: #cb3837;
  font-style: normal;
}
@media only screen and (max-width: 767px) {
  header h1 {
    font: 400 28px/46px 'Source Sans Pro', 'Lucida Grande', sans-serif;
    letter-spacing: -1px;
  }
  header h1:before {
    float: left;
    margin-right: 4px;
    margin-top: 6px;
  }
}
header .header-copy {
  width: 46%;
  padding: 0 0 25px;
}
@media only screen and (max-width: 1023px) {
  header .header-copy {
    width: 80%;
  }
}
header .header-copy h1 {
  position: relative;
  top: auto;
  margin: 0 0 30px;
}
header .header-copy span {
  margin: 0 0 0 15px;
  font: 400 13px/47px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0,0,0,0.5);
}
header .header-copy span a {
  color: rgba(0,0,0,0.5);
  text-decoration: underline;
}
header .header-copy span a:hover {
  color: rgba(0,0,0,0.8);
}
header.avatar {
  padding-bottom: 12px;
}
header.avatar .container {
  padding-top: 103px;
}
@media only screen and (max-width: 767px) {
  header.avatar .container {
    padding-top: 113px;
  }
}
@media only screen and (max-width: 767px) {
  header.avatar {
    min-height: 222px;
  }
}
header.avatar h1 {
  margin: 10px 0 0 157px;
}
@media only screen and (max-width: 767px) {
  header.avatar h1 {
    margin: 10px 0 0 85px;
    width: 215px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 400 24px/29px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  }
}
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5) {
  header.avatar h1 {
    width: 150px;
  }
}
header #npm-logo {
  float: left;
  margin-right: 7%;
}
@media only screen and (max-width: 767px) {
  header #npm-logo {
    margin-top: -8px;
    margin-right: 0;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 767px) {
  header #npm-logo img {
    display: block;
    width: 80%;
  }
}
header #npm-search {
  float: left;
  position: relative;
  width: 53%;
  height: 47px;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  background: #fff;
}
@media only screen and (max-width: 1023px) {
  header #npm-search {
    width: 45%;
  }
}
@media only screen and (max-width: 767px) {
  header #npm-search {
    margin-top: 2em;
    width: 100%;
  }
}
header.custom #npm-search {
  border: 0;
}
header #site-search {
  position: absolute;
  top: 7px;
  left: 20px;
  width: 80%;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-size: 18px;
  background: none;
}
header #site-search-submit {
  position: absolute;
  top: 0;
  right: 0;
  height: 47px;
  width: 46px;
  border: 0;
  text-indent: -9999em;
  cursor: pointer;
  outline: 0;
  border-left: 1px solid rgba(0,0,0,0.1);
  border-radius: 0 2px 2px 0;
  background: url("../img/ico-search.png") no-repeat 50% 50%;
}
header #site-search-submit:hover {
  width: 47px;
  height: 49px;
  top: -1px;
  right: -1px;
  border-left: 0;
  background: #cb3837 url("../img/ico-search-hover.png") no-repeat 50% 50%;
}
header #user-info {
  float: right;
  font-size: 14px;
  line-height: 15px;
  text-align: right;
  color: rgba(0,0,0,0.1);
}
@media only screen and (max-width: 767px) {
  header #user-info {
    margin-top: -1px;
    margin-right: 3em;
  }
}
header #user-info img {
  float: right;
  display: block;
  width: 45px;
  margin: 0 0 0 10px;
  border-radius: 2px;
}
@media only screen and (max-width: 767px) {
  header #user-info img {
    display: none;
  }
}
header #user-info h6 {
  margin: 5px 0 0;
  font: 600 13px/18px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0,0,0,0.8);
}
@media only screen and (max-width: 767px) {
  header #user-info h6 {
    display: none;
  }
}
header #user-info a {
  font: 600 12px/15px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  padding: 0 2px;
  color: #cb3837;
}
header #user-info.logged-out {
  color: rgba(0,0,0,0.5);
  font-weight: 100;
}
header #user-info.logged-out a {
  color: rgba(0,0,0,0.5);
  font: 600 14px/49px 'Source Sans Pro', 'Lucida Grande', sans-serif;
}
@media only screen and (max-width: 767px) {
  header #user-info.logged-out a {
    font: 600 12px/15px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  }
}
header.custom #user-info {
  color: rgba(255,255,255,0.4);
}
header.custom #user-info a {
  color: rgba(255,255,255,0.4);
}
header #header-buttons {
  position: absolute;
  right: 20px;
  top: 134px;
  z-index: 7;
}
@media only screen and (max-width: 1023px) {
  header #header-buttons {
    display: none;
    width: 140px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    background: #fff;
  }
}
@media only screen and (max-width: 767px) {
  header #header-buttons {
    top: 120px;
  }
}
header #header-buttons a {
  float: left;
  display: inline-block;
  height: 31px;
  text-align: center;
  margin: 0;
  color: rgba(0,0,0,0.5);
  padding: 0 15px;
  font: 600 13px/31px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  border: 1px solid rgba(0,0,0,0.1);
  border-width: 1px 0 1px 1px;
  background: #fff;
}
header #header-buttons a:before {
  margin-right: 8px;
  float: left;
  margin-top: 9px;
}
header #header-buttons a:hover {
  color: #fff;
  border-color: #cb3837;
  background: #cb3837;
}
@media only screen and (max-width: 1023px) {
  header #header-buttons a {
    display: block;
    float: none;
    border-width: 0 0 1px 0;
    text-align: right;
  }
}
header #header-buttons a span {
  margin: 0 0 0 5px;
}
header #header-buttons a.owner {
  color: #fff;
  border-color: #cb3837;
  background: #cb3837;
}
header #header-buttons a.owner:hover {
  color: rgba(0,0,0,0.5);
  border-color: rgba(0,0,0,0.1);
  background: #fff;
}
header #header-buttons a:first-child {
  border-radius: 4px 0 0 4px;
}
@media only screen and (max-width: 1023px) {
  header #header-buttons a:first-child {
    border-radius: 0;
  }
}
header #header-buttons a:last-child {
  border-radius: 0 4px 4px 0;
  border-right: 1px solid rgba(0,0,0,0.1);
}
@media only screen and (max-width: 1023px) {
  header #header-buttons a:last-child {
    border-width: 0;
    border-radius: 0;
  }
}
header.custom.dark h1 {
  color: #fff;
}
header.custom.dark #user-info {
  color: #fff;
}
header.custom.dark #user-info a,
header.custom.dark #user-info h6 {
  color: #fff;
}
@media only screen and (max-width: 1023px) {
  header.custom #header-buttons {
    display: none;
    width: 140px;
    border: 0;
    border-radius: 4px;
    background: #fff;
  }
}
header.custom #header-buttons a {
  float: left;
  display: inline-block;
  height: 31px;
  text-align: center;
  margin: 0 0 0 1px;
  color: #fff;
  padding: 0 15px;
  border: 0;
  font: 600 13px/31px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  background: rgba(255,255,255,0.4);
}
header.custom #header-buttons a:hover {
  color: rgba(0,0,0,0.8);
  background: #fff;
}
@media only screen and (max-width: 1023px) {
  header.custom #header-buttons a {
    display: block;
    float: none;
    border-bottom: 0;
    margin: 0;
    text-align: right;
    color: rgba(0,0,0,0.8);
  }
  header.custom #header-buttons a:first-child {
    border-radius: 4px 4px 0 0;
  }
  header.custom #header-buttons a:last-child {
    border-width: 0;
    border-radius: 0 0 4px 4px;
  }
  header.custom #header-buttons a:hover {
    color: #fff;
    background: #cb3837;
  }
}
header.custom #header-buttons a.owner {
  background: #fff;
  color: rgba(0,0,0,0.8);
}
header.custom #header-buttons a.owner:hover {
  color: #fff;
  background: rgba(0,0,0,0.8);
}
header #mobile-header-buttons {
  display: none;
  position: absolute;
  right: 20px;
  top: 134px;
  display: inline-block;
  height: 31px;
  padding: 0 10px;
  font: 600 25px/17px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0,0,0,0.8);
  text-align: center;
  border: 1px solid rgba(0,0,0,0.1);
  background: #fff;
  border-radius: 4px;
}
@media only screen and (max-width: 767px) {
  header #mobile-header-buttons {
    top: 120px;
    display: block;
  }
}
header.custom #mobile-header-buttons {
  border: 0;
  color: #fff;
  background: rgba(255,255,255,0.4);
}
#auto-suggest {
  position: absolute;
  top: 47px;
  left: -1px;
  width: 89%;
  border: 1px solid rgba(0,0,0,0.1);
  border-width: 0 1px 1px;
  border-radius: 0 0 2px 2px;
  font: 600 13px/18px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0,0,0,0.5);
  background: #fff;
  z-index: 200;
}
@media only screen and (max-width: 1024px) {
  #auto-suggest {
    width: 86.8%;
  }
}
@media only screen and (max-width: 768px) {
  #auto-suggest {
    width: 79.5%;
  }
}
@media only screen and (max-width: 767px) {
  #auto-suggest {
    width: 80.2%;
  }
}
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5) {
  #auto-suggest {
    width: 74.7%;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
  #auto-suggest {
    width: 86.6%;
  }
}
#auto-suggest #auto-suggest-nav {
  padding: 8px 0 0 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
#auto-suggest #auto-suggest-nav a {
  display: inline-block;
  text-transform: uppercase;
  font: 600 12px/12px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0,0,0,0.5);
  margin: 0 10px 0 0;
  padding: 0 0 12px;
}
#auto-suggest #auto-suggest-nav a:hover,
#auto-suggest #auto-suggest-nav a.active {
  color: rgba(0,0,0,0.6);
  padding: 0 0 10px;
  border-bottom: 2px solid #808080;
}
#auto-suggest dl dt {
  padding: 10px 20px 0;
}
#auto-suggest dl dt a {
  color: #cb3837;
  font-size: 18px;
}
#auto-suggest dl dt p {
  margin: 0;
}
#auto-suggest dl dd {
  color: rgba(0,0,0,0.6);
  padding: 8px 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
#auto-suggest dl dd span {
  float: right;
  margin: 0 0 0 20px;
}
#auto-suggest dl dd span:before {
  margin-right: 6px;
}
#auto-suggest dl dd em {
  font-style: normal;
  font-weight: 400;
}
#auto-suggest #auto-suggest-bottom {
  padding: 10px 20px;
  background: rgba(0,0,0,0.04);
}
#large-avatar {
  position: absolute;
  top: 122px;
  width: 134px;
  border-radius: 2px;
  background: rgba(0,0,0,0.9);
  z-index: 10;
}
@media only screen and (max-width: 767px) {
  #large-avatar {
    width: 75px;
  }
}
#large-avatar img {
  display: block;
  max-width: 100%;
  border-radius: 2px 2px 0 0;
}
#large-avatar img.multiple {
  float: left;
  max-width: 50%;
  border-radius: 0;
}
#large-avatar img.multiple:first-child {
  border-radius: 2px 0 0 0;
}
#large-avatar img.multiple:nth-child(2) {
  border-radius: 0 2px 0 0;
}
#large-avatar a {
  clear: left;
  display: block;
  height: 29px;
  line-height: 29px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0 0 2px 2px;
  color: #fff;
  text-align: center;
  background: #cb3837;
}
@media only screen and (max-width: 767px) {
  #large-avatar a {
    font-size: 12px;
  }
}
#health {
  position: absolute;
  right: 20px;
  top: 0;
}
@media only screen and (max-width: 767px) {
  #health {
    right: auto;
    left: 20px;
  }
}
#health .health {
  float: right;
  text-align: right;
  width: 125px;
  padding-top: 3px;
}
@media only screen and (max-width: 767px) {
  #health .health {
    float: left;
    text-align: left;
  }
}
#health .health span {
  font: 600 14px/14px 'Source Sans Pro', 'Lucida Grande', sans-serif;
}
#health .health span[class^="icon-"],
#health .health span[class*=" icon-"] {
  float: right;
  font-size: 26px;
  margin: 2px 0 0 8px;
}
@media only screen and (max-width: 767px) {
  #health .health span[class^="icon-"],
  #health .health span[class*=" icon-"] {
    float: left;
    margin: 2px 8px 0 0;
  }
}
#health .health p {
  font: 600 12px/12px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0,0,0,0.5);
  margin-bottom: -4px;
}
@media only screen and (max-width: 767px) {
  #health .health p {
    position: relative;
    top: auto;
  }
}
#health .health .yay {
  color: #07a700;
}
#health .health .meh {
  color: #ff7900;
}
#health .health .uh-oh {
  color: #f3b600;
}
#health .health .rip {
  color: #000;
}
.ecosystem-content {
  margin: 0 0 75px;
  padding: 65px 0 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.04);
  overflow: hidden;
}
.ecosystem-content .layout-left,
.ecosystem-content .layout-right {
  margin-bottom: 50px;
}
.ecosystem-content .box {
  margin-bottom: 0;
}
.ecosystem-content img {
  display: block;
  max-width: 100%;
  margin: 0 0 40px;
}
.ecosystem-content h2,
.ecosystem-content p {
  margin-bottom: 5px;
}
footer {
  position: relative;
  clear: both;
  padding: 38px 0 0;
  min-height: 150px;
  color: #fff;
  font: 600 14px/21px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  background: rgba(0,0,0,0.8);
}
footer .container {
  position: static;
}
footer p {
  margin: 0;
  padding: 0 0 20px;
}
footer span {
  margin: 0 50px 0 0;
}
@media only screen and (max-width: 1023px) {
  footer span {
    display: block;
    margin: 0 0 10px;
  }
}
footer a {
  font: 600 14px/21px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(255,255,255,0.5);
  margin: 0 20px 0 0;
  text-decoration: none;
}
footer a:hover {
  color: #fff;
}
@media only screen and (max-width: 1023px) {
  footer a {
    line-height: 35px;
  }
}
footer a#npm-loves-you {
  position: absolute;
  bottom: 6px;
  right: 10px;
  margin: 0;
  color: rgba(255,255,255,0.3);
}
footer #footer-logo {
  float: right;
}
footer #wombat {
  position: absolute;
  bottom: -300px;
  right: -300px;
  width: 300px;
  height: 300px;
  background: url("../img/wombat-ninja.png") no-repeat top left;
}
header.home {
  text-align: center;
}
header.home h1 {
  text-align: center;
  font: 400 54px/59px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0,0,0,0.8);
  margin: 0 0 10px;
}
header.home h2 {
  text-align: center;
  font: 300 24px/28px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0,0,0,0.6);
  margin: 0 0 30px;
}
header.home a.btn {
  margin-bottom: 50px;
}
header.home a.btn:after {
  font-family: icomoon;
  content: "\e603";
  padding-left: 10px;
  font-size: 12px;
}
header #home-stats {
  margin: 75px 0 0;
}
@media only screen and (max-width: 900px) {
  header #home-stats {
    padding: 0 0 0 100px;
  }
}
@media only screen and (max-width: 768px) {
  header #home-stats {
    padding: 0 0 0 50px;
  }
}
@media only screen and (max-width: 767px) {
  header #home-stats {
    padding: 0 0 0 25%;
  }
}
header .stat {
  display: inline-block;
  text-align: left;
  line-height: 16px;
  font: 400 13px/16px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0,0,0,0.5);
  margin: 0 20px 20px;
}
@media only screen and (max-width: 900px) {
  header .stat {
    margin: 0 10px 20px;
    width: 32%;
  }
}
@media only screen and (max-width: 767px) {
  header .stat {
    width: auto;
    display: block;
    float: left;
    margin: 0 auto 20px;
    clear: left;
  }
}
header .stat span:before {
  font-size: 30px;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  color: rgba(0,0,0,0.8);
}
header .stat .icon-package-hex:before {
  font-size: 36px;
  margin-top: 0;
}
header .stat strong {
  font-family: 'Source Code Pro', 'Courier', sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: block;
  color: rgba(0,0,0,0.8);
}
h2.h2-toggle {
  position: relative;
  display: inline-block;
}
h2.h2-toggle a {
  display: inline-block;
}
h2.h2-toggle a.icon-arrow-down:before {
  content: "";
}
h2.h2-toggle a.icon-arrow-down:after {
  font-family: icomoon;
  content: "\e601";
  font-size: 5px;
  float: right;
  margin: 2px 0 0 5px;
}
h2.h2-toggle .h2-toggle-list {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  background: #fff;
  z-index: 6;
}
h2.h2-toggle .h2-toggle-list li {
  list-style: none;
}
h2.h2-toggle .h2-toggle-list li a {
  font-size: 20px;
  font-weight: 700;
  color: rgba(0,0,0,0.8);
}
h2.h2-toggle .h2-toggle-list li a:hover,
h2.h2-toggle .h2-toggle-list li a.active {
  color: #cb3837;
}
.home-browse-all {
  float: right;
}
@media only screen and (max-width: 767px) {
  .home-browse-all {
    display: none;
  }
}
.time-toggle {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
@media only screen and (max-width: 767px) {
  .time-toggle {
    display: none;
  }
}
.time-toggle a {
  font: 700 12px/12px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0,0,0,0.5);
  padding: 3px 10px;
  border: 1px solid #fff;
  border-radius: 20px;
}
.time-toggle a:hover,
.time-toggle a.active {
  color: rgba(0,0,0,0.8);
  border: 1px solid rgba(0,0,0,0.1);
}
#browse {
  padding: 60px 0;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.1);
  border-width: 1px 0;
  background: rgba(0,0,0,0.1);
}
#browse h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
#browse p {
  width: 60%;
  margin: 0 auto 30px;
}
@media only screen and (max-width: 900px) {
  #browse p {
    width: 90%;
  }
}
#browse a {
  margin: 0 10px 10px;
}
#browse a:before {
  font-size: 20px;
  float: left;
  margin: 14px 8px 0 0;
}
#browse a span {
  font-family: icomoon;
  font-size: 11px;
  margin: 0 0 0 6px;
}
.container {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
.container.pad-top {
  padding-top: 50px;
}
.layout-left {
  float: left;
  width: 60%;
  margin-bottom: 90px;
}
.layout-left .layout-left {
  margin-bottom: 25px;
}
@media only screen and (max-width: 1024px) {
  .layout-left {
    width: 57%;
  }
}
@media only screen and (max-width: 767px) {
  .layout-left {
    float: none;
    width: 100%;
  }
}
.layout-left.half {
  width: 48%;
}
@media only screen and (max-width: 767px) {
  .layout-left.half {
    float: none;
    width: 100%;
  }
}
.layout-right {
  margin: 0 0 90px 72.5%;
  padding-top: 20px;
}
@media only screen and (max-width: 1024px) {
  .layout-right {
    margin: 0 0 0 65%;
  }
}
@media only screen and (max-width: 767px) {
  .layout-right {
    margin: 0;
  }
}
.layout-right.half {
  margin-left: 54%;
}
@media only screen and (max-width: 767px) {
  .layout-right.half {
    margin-left: 0;
  }
}
.thirds {
  overflow: hidden;
  padding-bottom: 40px;
}
.third {
  float: left;
  width: 31.118846411804153%;
  margin-right: 3.221730382293762%;
}
.third:nth-child(3n) {
  margin-right: 0 !important;
}
@media only screen and (max-width: 1023px) {
  .third {
    width: 48%;
    margin-right: 4% !important;
  }
  .third:nth-child(3n) {
    margin-right: 4% !important;
  }
  .third:nth-child(2n) {
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  .third {
    width: 100%;
    margin-right: 0% !important;
  }
  .third:nth-child(3n) {
    margin-right: 0 !important;
  }
  .third:nth-child(2n) {
    margin-right: 0 !important;
  }
}
.generic {
  clear: both;
  margin-top: 75px;
}
.package,
.author {
  margin-bottom: 25px;
  padding: 0 0 25px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.package img,
.author img {
  float: left;
  margin: 0 10px 20px 0;
}
.package h2,
.author h2 {
  margin: 0;
}
.package h5,
.author h5 {
  font: 600 14px/14px 'Source Code Pro', 'Courier', sans-serif;
  color: rgba(0,0,0,0.5);
}
.package p,
.author p {
  clear: left;
  font-weight: 600;
  color: rgba(0,0,0,0.6);
  margin: 0;
}
.package span,
.author span {
  color: rgba(0,0,0,0.5);
  margin: 0 15px 0 0;
  font-size: 12px;
  font-weight: 600;
}
.package span:before,
.author span:before {
  margin-right: 8px;
}
.package p.tags,
.author p.tags {
  color: rgba(0,0,0,0.5);
  font-size: 12px !important;
  font-weight: 600;
  margin: 2px 0 0;
}
.package p.tags:before,
.author p.tags:before {
  margin-right: 6px;
}
.package p.tags a,
.author p.tags a {
  color: rgba(0,0,0,0.5);
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  text-decoration: none;
}
.package p.tags a:hover,
.author p.tags a:hover {
  color: #cb3837;
  background: none;
}
.package.profile,
.author.profile {
  border-bottom: 0;
  padding: 0;
}
.package.profile p,
.author.profile p {
  clear: none;
  font-weight: 400;
}
.author h5 {
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
}
.author h5 a {
  color: rgba(0,0,0,0.5);
}
.collection,
.package.third,
.ecosystem {
  margin-bottom: 25px;
}
.collection .c-name,
.package.third .c-name,
.ecosystem .c-name {
  position: relative;
  display: block;
  height: 45px;
  border-radius: 6px;
}
.collection .c-name img,
.package.third .c-name img,
.ecosystem .c-name img {
  float: left;
  margin: 0 10px 0 0;
  border-radius: 6px 0 0 6px;
}
.collection .c-name a,
.package.third .c-name a,
.ecosystem .c-name a {
  display: inline-block;
  font: 700 18px/43px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: #fff;
}
.collection .c-name a:before,
.package.third .c-name a:before,
.ecosystem .c-name a:before {
  float: left;
  font-size: 24px;
  line-height: 45px;
  margin-right: 8px;
}
.collection .c-name span,
.package.third .c-name span,
.ecosystem .c-name span {
  float: right;
  margin: 0 12px 0 0;
  color: #fff;
  font: 400 12px/45px 'Source Sans Pro', 'Lucida Grande', sans-serif;
}
.collection.third .c-name,
.package.third.third .c-name,
.ecosystem.third .c-name {
  border-radius: 6px 6px 0 0;
}
.collection.third img,
.package.third.third img,
.ecosystem.third img {
  border-radius: 6px 0 0 0;
}
.collection .c-details,
.package.third .c-details,
.ecosystem .c-details {
  padding: 20px 0;
}
.collection .c-details h5,
.package.third .c-details h5,
.ecosystem .c-details h5 {
  margin: 0 0 5px;
}
.collection .c-details p,
.package.third .c-details p,
.ecosystem .c-details p {
  margin-bottom: 15px;
}
.collection .c-details p.tags,
.package.third .c-details p.tags,
.ecosystem .c-details p.tags {
  color: rgba(0,0,0,0.5);
  font-size: 12px !important;
  font-weight: 600;
  margin: 0;
}
.collection .c-details p.tags:before,
.package.third .c-details p.tags:before,
.ecosystem .c-details p.tags:before {
  margin-right: 6px;
}
.collection .c-details p.tags a,
.package.third .c-details p.tags a,
.ecosystem .c-details p.tags a {
  color: rgba(0,0,0,0.5);
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  text-decoration: none;
}
.collection .c-details p.tags a:hover,
.package.third .c-details p.tags a:hover,
.ecosystem .c-details p.tags a:hover {
  color: #cb3837;
  background: none;
}
.collection.third .c-details,
.package.third.third .c-details,
.ecosystem.third .c-details {
  padding: 20px;
  border: 2px solid rgba(0,0,0,0.1);
  border-width: 0 2px 2px 2px;
  border-radius: 0 0 6px 6px;
}
.collection.third .c-details p,
.package.third.third .c-details p,
.ecosystem.third .c-details p {
  font: 400 14px/18px 'Source Sans Pro', 'Lucida Grande', sans-serif;
}
.ecosystem .c-name {
  text-align: center;
  height: 140px;
}
.ecosystem .c-name img {
  float: none;
  margin: 0;
  border-radius: 0;
}
.ecosystem .c-name span {
  position: absolute;
  bottom: 0px;
  right: 10px;
}
.package.third {
  margin-bottom: 25px;
  margin-right: 3.221730382293762%;
  border-bottom: 0;
  padding-bottom: 0;
}
.package.third .c-name {
  border: 2px solid rgba(0,0,0,0.1);
  height: 43px;
}
.package.third .c-name img {
  margin: -2px 10px 12px -2px;
}
.package.third .c-name a {
  color: rgba(0,0,0,0.6);
}
.package.third .c-name a:before {
  float: left;
  font-size: 24px;
  line-height: 45px;
  margin-right: 8px;
  color: rgba(0,0,0,0.1);
}
.package.third .c-name span {
  color: rgba(0,0,0,0.6);
}
.box {
  margin: 0 0 30px;
  font-weight: 600;
  font-size: 16px;
}
.box p {
  padding: 14px;
  margin: 0;
}
.box a {
  text-decoration: none;
}
.box a:hover {
  text-decoration: underline;
}
.box li {
  line-height: 2.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.box li:last-child {
  border-bottom: none;
}
.box.list li {
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  line-height: 15px;
  white-space: normal;
  overflow: auto;
  text-overflow: none;
}
.box.list li:last-child {
  border-bottom: 0;
}
.box.list li.disabled {
  color: rgba(0,0,0,0.1);
}
.box.list li.disabled a {
  color: rgba(0,0,0,0.1);
}
.box.list li a {
  display: block;
  font: 700 16px/21px 'Source Sans Pro', 'Lucida Grande', sans-serif;
}
.box-action {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 14px;
}
.list .box-action {
  border-top: 0;
}
.box-action .icon-arrow-tri-right:before {
  content: "";
}
.box-action .icon-arrow-tri-right:after {
  font-family: icomoon;
  content: "\e605";
  font-size: 7px;
  margin: 0 0 0 6px;
}
#health-stats .stat {
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
#health-stats .stat p {
  position: relative;
  height: 40px;
  padding: 0 14px;
  font: 400 16px/40px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  z-index: 1;
}
#health-stats .stat p span {
  float: right;
  font: 600 12px/40px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0,0,0,0.5);
}
#health-stats .stat em {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.04);
  z-index: 0;
}
#health-stats .overall-health {
  position: relative;
  height: 50px;
  margin: 0 -2px -2px;
  padding: 0 16px;
  border-radius: 0 0 4px 4px;
  color: #fff;
  font: 400 16px/50px 'Source Sans Pro', 'Lucida Grande', sans-serif;
}
#health-stats .overall-health.yay {
  background: #07a700;
}
#health-stats .overall-health.meh {
  background: #ff7900;
}
#health-stats .overall-health.uh-oh {
  background: #f3b600;
}
#health-stats .overall-health.rip {
  background: #000;
}
#health-stats .overall-health span {
  float: right;
  margin: 2px 0 0;
  font-size: 26px;
}
.tags {
  margin: 0 0 60px;
}
.tags a {
  display: inline-block;
  font: 600 14px/14px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  margin: 0 3px 5px 0;
  padding: 5px 7px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.1);
}
.tags a:hover {
  color: #fff;
  border: 1px solid #cb3837;
  background: #cb3837;
}
.tags a.icon-add {
  color: #fff;
  border-color: #cb3837;
  background: #cb3837;
}
.tags a.icon-add:hover {
  border-color: rgba(0,0,0,0.8);
  background: rgba(0,0,0,0.8);
}
.tags a.icon-add:before {
  font-size: 10px;
  text-align: center;
}
.pagination {
  margin: 50px 0 0;
}
.pagination a {
  display: inline-block;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.1);
  text-align: center;
  margin: 0 2px 10px;
  padding: 1px 11px;
  font: 600 16px/25px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: #cb3837;
}
.pagination a:hover,
.pagination a.active {
  color: #fff;
  background: rgba(0,0,0,0.1);
}
.side-nav {
  margin: 0 0 50px;
}
.side-nav li {
  list-style: none;
}
.side-nav li a {
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 0 0 5px;
  padding: 5px 15px;
  text-align: center;
  font: 700 16px/25px 'Source Sans Pro', 'Lucida Grande', sans-serif;
  border-radius: 4px;
}
.side-nav li a:hover,
.side-nav li a.active {
  color: #fff;
  background: #cb3837;
}
ul.userMosaic {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
  float: none;
  overflow: hidden;
}
ul.userMosaic li {
  float: left;
  display: block;
  margin: 0;
  padding: 3px 0;
  position: relative;
}
ul.userMosaic img {
  display: inline-block;
  width: 90px;
  height: 90px;
  margin-right: 10px;
  border-radius: 5px;
  transition: all 0.3s;
}
ul.userMosaic span {
  margin: 0;
  padding: 0;
  vertical-align: top;
  line-height: 90px;
  display: none;
}
ul.userMosaic a:before {
  display: block;
  position: absolute;
  width: 90px;
  line-height: 90px;
  text-align: center;
  content: attr(title) " ";
  opacity: 0;
  transition: all 0.3s;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 6px;
}
ul.userMosaic.many a:hover img {
  opacity: 0;
}
ul.userMosaic.many:hover a:before {
  opacity: 1;
}
ul.userMosaic.many:hover img {
  opacity: 0.1;
}
ul.userMosaic.one a:before {
  display: none;
}
ul.userMosaic.one span {
  display: inline-block;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
  -webkit-text-size-adjust: none;
}
.hljs-comment,
.hljs-template_comment,
.diff .hljs-header,
.hljs-javadoc {
  color: #998;
  font-style: italic;
}
.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.javascript .hljs-title,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #333;
  font-weight: bold;
}
.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #008080;
}
.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula {
  color: #d14;
}
.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: #900;
  font-weight: bold;
}
.javascript .hljs-title,
.hljs-list .hljs-keyword,
.hljs-subst {
  font-weight: normal;
}
.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}
.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal;
}
.hljs-attribute,
.hljs-variable,
.lisp .hljs-body {
  color: #008080;
}
.hljs-regexp {
  color: #009926;
}
.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #990073;
}
.hljs-built_in {
  color: #0086b3;
}
.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold;
}
.hljs-deletion {
  background: #fdd;
}
.hljs-addition {
  background: #dfd;
}
.diff .hljs-change {
  background: #0086b3;
}
.hljs-chunk {
  color: #aaa;
}
#readme img {
  max-width: 100%;
}
