header
	&.home
		text-align center

		h1
			text-align center
			font 400 54px/59px fonts
			color gray2
			margin 0 0 10px

		h2
			text-align center
			font 300 24px/28px fonts
			color text-color
			margin 0 0 30px

		a.btn
			margin-bottom 50px

			&:after
				font-family icomoon
				content "\e603"
				padding-left 10px
				font-size 12px

	#home-stats
		margin 75px 0 0

		@media only screen and (max-width: 900px)
			padding 0 0 0 100px

		@media only screen and (max-width: 768px)
			padding 0 0 0 50px

		@media only screen and (max-width: 767px)
			padding 0 0 0 25%

	.stat
		display inline-block
		text-align left
		line-height 16px
		font 400 13px/16px fonts
		color text-color-subdued
		margin 0 20px 20px

		@media only screen and (max-width: 900px)
			margin 0 10px 20px
			width 32%

		@media only screen and (max-width: 767px)
			width auto
			display block
			float left
			margin 0 auto 20px
			clear left

		& span:before
			font-size 30px
			float left
			margin-right 10px
			margin-top 2px
			color gray2

		& .icon-package-hex:before
			font-size 36px
			margin-top 0

		strong
			font-family codefonts
			font-weight 700
			font-size 16px
			display block
			color gray2

h2.h2-toggle
	position relative
	display inline-block

	a
		display inline-block

		&.icon-arrow-down:before
			content ""

		&.icon-arrow-down:after
			font-family icomoon
			content "\e601"
			font-size 5px
			float right
			margin 2px 0 0 5px

	.h2-toggle-list
		display none
		position absolute
		top 0
		left 0
		margin 0
		border-radius 4px
		padding 10px
		border 1px solid gray5
		background white
		z-index 6

		li
			list-style none
			a
				font-size 20px
				font-weight 700
				color gray2

				&:hover, &.active
					color npmred

.home-browse-all
	float right

	@media only screen and (max-width: 767px)
		display none

.time-toggle
	position absolute
	text-align center
	top 0
	left 0
	right 0
	z-index 0

	@media only screen and (max-width: 767px)
		display none

	a
		font 700 12px/12px fonts
		color text-color-subdued
		padding 3px 10px
		border 1px solid white
		border-radius 20px

		&:hover, &.active
			color gray2
			border 1px solid gray5

#browse
	padding 60px 0
	text-align center
	border 1px solid gray5
	border-width 1px 0
	background gray5

	h2
		font-size 30px
		margin-bottom 10px

	p
		width 60%
		margin 0 auto 30px

		@media only screen and (max-width: 900px)
			width 90%

	a
		margin 0 10px 10px
		&:before
			font-size 20px
			float left
			margin 14px 8px 0 0
		span
			font-family icomoon
			font-size 11px
			margin 0 0 0 6px
