fonts = 'Source Sans Pro', 'Lucida Grande', sans-serif
codefonts = 'Source Code Pro', 'Courier', sans-serif

npmred = #cb3837

gray1 = rgba(black, 0.9)
gray2 = rgba(black, 0.8)
gray3 = rgba(black, 0.6)
gray4 = rgba(black, 0.5)
gray5 = rgba(black, 0.1)
gray6 = rgba(black, 0.04)

green = #07A700
orange = #ff7900
yellow = #f3b600

background-color = white
text-color = gray3
text-color-subdued = gray4
footer-text-color = rgba(white, 0.5)

mosaicSize = 90px
