

<h1>Login, please</h1>

{{#if error}}
  {{#compare error.type 'missing'}}
    <p class='error'>Missing username or password</p>
  {{else}}
    <p class='error'>Invalid username or password</p>
    <p>If you feel that this is a mistake, please <a href="/contact">contact us</a> with the following unique error ID: <code>{{error.errId}}</code></p>
  {{/compare}}
{{/if}}

<form action='' method='post' class='form'>
  <fieldset>
    <label for='name'>Username</label>
    <input name='name' id='name'>
  </fieldset>
  <fieldset>
    <label for='password'>Password</label>
    <input type='password' name='password' id='password'>
  </fieldset>
  <fieldset class='buttons'>
    <button class='btn' type='submit'>Login!</button>
    <a href="/forgot">Forgot password?</a>
  </fieldset>
  <input type="hidden" name="crumb" value="{{crumb}}"/>
</form>

<p>Don't have an account? <a href="/signup">Sign up.</a>

