
<hgroup>
  <h1>login</h1>
  <h2>you look lovely today, btw.</h2>
<hgroup>

{{#if error}}
  {{#compare error.type 'missing'}}
    <p class='error'>Missing username or password</p>
  {{else}}
    <p class='error'>Invalid username or password</p>
    <p>If you feel that this is a mistake, please <a href="/contact">contact us</a> with the following unique error ID: <code>{{error.errId}}</code></p>
  {{/compare}}
{{/if}}

<form class="login-forms" action='' method='post'>
  <label for="name">username</label>
  <input type="text" id="name" name="name" />
  <label for="password">password</label>
  <input type="password" id="password" name="password" />
  <input type="submit" value="login" />
  <p><a href="/forgot">forgot your password?</a> | <a href="/signup">create an account</a></p>
  <input type="hidden" name="crumb" value="{{crumb}}"/>
</form>


