

<div id="profile">
  <h1>User Not Found: {{name}}</h1>
  <p>Sorry, there's no user by that name.</p>

  <p>If you believe that this is a bug (for example, if this is your
  account, but it is not showing up on the website), then please
  <a href="mailto:support@npmjs.com">let us know</a>. Be sure to use the following unique error number: <code>{{errId}}</code></p>

  <p>Thank you, and we apologize for the inconvenience.</p>
</div>


