<div class="container narrow">

  <hgroup>
    <h1>{{t "errors.token_expired.title"}}</h1>
    <h2>{{t "errors.token_expired.subtitle"}}</h2>
  </hgroup>

  <p>
    The email you received has a one-time-use-only link.
  </p>

  <p>
    You are seeing this message because you either already clicked on that link, someone else clicked on it for you (silly spam filters), or the link expired.
  </p>

  <p>
    If you feel this error is the result of a bug, please <a href="/contact">contact us</a> and reference the following unique error number:
  </p>

  <pre><code>{{correlationID}}</code></pre>

  <p>Be sure to let us know what you were doing and how you got here so we can help you as quickly as possible!</p>

</div>
