.inset
  padding 35px
  box-shadow 0 2px 15px #A5B3AA
  h3
    color text-color
    font-size .75em
    padding-top 0
  li
    color #A5B3AA
    font-size .875em
    margin-top 1em

    &:first-child
      margin-top 0

    span
      color text-color
