
.nav,
.nav > li,
.nav-breadcrumb-flow-indicator,
.nav-breadcrumb-flow-indicator li
  list-style none
  margin 0
  padding 0

.nav-breadcrumb-flow-indicator-container
  text-align center


.nav-breadcrumb-flow-indicator
  position relative
  display inline-block
  color table-border-grey
  font-size .75em
  font-weight bold
  letter-spacing 0

.nav-breadcrumb-flow-indicator:after
  content "\0020"
  border-top 2px solid #cfcfcf
  display block
  position absolute
  top 1.15em
  margin-left 10%
  padding-right 80%

.nav-breadcrumb-flow-indicator li
  display inline-block
  text-transform uppercase
  width 32%

.nav-breadcrumb-flow-indicator li
  padding-left 3em

.nav-breadcrumb-flow-indicator li:first-child
  padding-left 0
  float left

.nav-breadcrumb-flow-indicator li:last-child
  float right

.nav-breadcrumb-flow-indicator li:before
  content "\2022"
  color #cfcfcf
  font-size 2.8em
  display block
  z-index 5
  position relative
  margin 0 43%
  background-color #fff

.nav-breadcrumb-flow-indicator .done:before
  color black

.nav-breadcrumb-flow-indicator .current
  color black

.nav-breadcrumb-flow-indicator .current:before
  color #cb3837

@media (min-width 28.125em)
  .nav-breadcrumb-flow-indicator li
    width auto

  .nav-breadcrumb-flow-indicator li
    padding-left 4em


@media (min-width 29.625em)
  .nav-breadcrumb-flow-indicator li
    padding-left 5em


@media (min-width 31.125em)
  .nav-breadcrumb-flow-indicator li
    padding-left 6em

@media (min-width 32.625em)
  .nav-breadcrumb-flow-indicator li
    padding-left 7em

@media (min-width 34.125em)
  .nav-breadcrumb-flow-indicator li
    padding-left 8em

@media (min-width 37.75em)
  .nav-breadcrumb-flow-indicator li
    padding-left 9em

// tabs : http://codepen.io/oknoblich/pen/tfjFl

tab-height = 45px
tab-width = 120px

.primary-tabs, .secondary-tabs
  input
    display none
  label
    font-weight 600
    text-align center
    a
      display inline-block
      color greigh4
      &:hover
        text-decoration none
  input + label
    cursor pointer

  input:checked + label
    color greigh-dark
    a
      color greigh-darkest
  &.center-tabs
    display flex
    justify-content center

.primary-tabs
  border-bottom 1px solid greigh

  label.primary-tab
    margin 0 2px -1px
    height tab-height
    width tab-width
    a
      padding-top (tab-height/5)
      padding-right 5px // numeration spacing
      &:hover
        text-decoration none
    &:first-of-type
      margin-left 10px

  input + label.primary-tab
    border-radius 3px
    border-top 1px solid transparent
    border-bottom 1px solid transparent

    &:hover
      border 1px solid greigh
      border-bottom 1px solid white

  input:checked + label.primary-tab
    border 1px solid greigh
    border-top 5px solid primary
    border-bottom 1px solid white
    a
      padding-top ((tab-height/5) + -4px) // border compensation

  @media screen and (max-width: 650px)
    label
      font-size 13px
      width (tab-width * .85)
      padding auto 0px

  @media screen and (max-width: 400px)
    label
      font-size 12px
      width (tab-width * .75)
      padding auto 0px

.secondary-tabs
  margin 5px auto

  label.secondary-tab
    height tab-height
    width tab-width
    padding-top (tab-height/5)
    a
      &:hover
        text-decoration none

  input + label.secondary-tab
    &:hover
      background greigh-lightest
      border-radius 3px
  input:checked + label.secondary-tab
    color greigh1

  @media screen and (max-width: 650px)
    label
      font-size 0
    label:before
      margin 0
      font-size 18px

  @media screen and (max-width: 400px)
    label
      padding 15px
