<h1>npm Enterprise Beta</h1>

<p>npm Enterprise is an on-premises solution for managing private
JavaScript modules, from the team that maintains npm and the public
npm registry.</p>

<ul>
  <li>Runs on your server or VM.</li>
  <li>Works with the standard npm client.</li>
  <li>Private namespaced modules to avoid name conflicts.</li>
  <li>Same patterns and tools developers love for open source.</li>
  <li>Seamless switching between private and open source projects. </li>
  <li>No config file hassles.</li>
  <li>White list tool for managing local replication of select modules.</li>
  <li>OAuth integration with GitHub Enterprise.</li>
</ul>

<p>If you are interested in participating in the Beta program, please
provide the following information:</p>

<script charset="utf-8" src="https://js.hsforms.net/forms/current.js"></script>
<script src="/static/js/hubspot-form.js"></script>
