footer
  margin 80px 0 80px 0
  padding 38px 0 0
  text-align center

  .container
    text-align center

  ul.links
    display inline-block
    margin 0
    padding 0
    li
      padding 0 10px
      display inline-block
      text-transform lowercase
      border-left 1px solid greigh5
      &:first-child
        border-left none
      a
        padding 5px
        text-decoration none
        &:hover
          border-bottom 3px solid npmred
          text-decoration underline

    @media only screen and (max-width: mobileMaxWidth)
      li
        display block
        border none
        padding 8px

#npm-loves-you
  margin-top 40px
  display inline-block
  color greigh4
  text-decoration none
  &:before, &:after
    content "\2665"
    line-height 3
    padding-top 5px
    color rgba(npmred, 0)
    font-size 14px
    transition all 0.3s
  &:before
    padding-right -5px
  &:after
    padding-left -5px
  &:hover
    color rgba(npmred, 1)
    &:before, &:after
      color rgba(npmred, 1)
    &:before
      padding-right 5px
    &:after
      padding-left 5px
