form
  .layout-right &
    margin 0 0 60px

label
  display block
  margin 0 0 7px
  color gray2
  font-weight 600

  &.checkbox
    color npmred
    font-size 14px

textarea
  border 1px solid gray5
  margin 0 0 50px
  padding 3%
  width 94%
  min-height 300px
  border-radius 4px
  font 400 16px/25px codefonts
  color text-color
  outline 0
  resize none

input[type=text],
input[type=password]
  display block
  width 96%
  height 38px
  padding-left 2%
  padding-right 2%
  border 1px solid gray5
  margin 0 0 20px
  border-radius 4px
  font-family fonts
  color text-color
  outline 0

input[type=checkbox]
  margin 0 6px 0 0

select
  display block
  width 96%
  margin 0 0 20px
  outline 0

input[type=submit]
  border 0
  border-radius 4px
  text-align center
  display inline-block
  padding 0 35px
  margin 0 0 4px
  height 47px
  line-height 47px
  color background-color
  font-family fonts
  font-size 18px
  background npmred
  cursor pointer
  -webkit-appearance: none;

  &:hover
    background gray2

input[type=file]
  margin 0 0 50px

.help-text
  font-size 14px
  color text-color-subdued
  line-height 18px
  margin -15px 0 22px

.layout-left
  form#content-search
    position relative
    height 47px
    padding 0
    margin 0 0 50px
    border 1px solid gray5
    border-radius 2px
    background white

    #content-search-input
      position absolute
      top 7px
      left 20px
      width 80%
      height 30px
      padding 0
      margin 0
      border 0
      outline 0
      font-weight 300
      font-family fonts
      font-size 18px
      background none

    #content-search-submit
      position absolute
      top 0
      right 0
      height 47px
      width 46px
      border 0
      text-indent -9999em
      cursor pointer
      outline 0
      border-left 1px solid gray5
      border-radius 0 2px 2px 0
      background url(../img/ico-search.png) no-repeat 50% 50%


      &:hover
        width 47px
        height 49px
        top -1px
        right -1px
        border-left 0
        background: npmred url(../img/ico-search-hover.png) no-repeat 50% 50%

.customSelect
  margin -2px 0 20px
  border 1px solid gray5
  padding-top 1px
  border-radius 4px
  width 96%
  height 38px
  letter-spacing 0px
  font 600 18px/38px fonts
  font-size 13px
  padding-left 10px
  background url(../img/select-bg.png) no-repeat 95% 50%

// Login Forms

.login-forms
  width 300px
  margin 0 auto 50px
  text-align left

  p
    margin 25px 0 0
    color text-color-subdued
    font-size 15px
    text-align: center

    &.help-text
      margin -15px 0 22px
      text-align left

    a
      text-decoration none
      margin 0 5px

      &:hover
        color gray2

  input[type=submit]
    width 100%
    text-transform lowercase

  label
    text-transform lowercase
