#subheader
  position relative
  margin 3px 0
  h1
    text-align center
    text-transform lowercase

#home-stats
  position relative
  margin 25px auto 25px auto
  padding 0
  max-width 800px
  display flex
  flex-wrap wrap
  justify-content space-between

  @media only screen and (max-width: 820px)
    display block
    .stat
      display block
      width 200px
      margin 15px auto

div.stat
  flex 0 1 auto
  line-height 16px
  font-size 13px
  color text-color-subdued
  margin 20px 20px 20px 0

  & span:before
    font-size 30px
    float left
    margin-right 10px
    margin-top 2px
    color greigh2

  strong
    font-family codefonts
    font-weight 600
    font-size 16px
    display block
    color greigh2

ul.columnar
  @extend .vanilla-list
  li
    max-width 300px
    padding 5px
    p
      margin 0
    a
      font-size 18px
      display block
      line-height 18px
      vertical-align top
      text-decoration none
      color greigh3
      &:before
        color greigh5
        line-height 18px
