.container
  position relative
  max-width 1180px
  margin 0 auto
  padding 0 20px

  &:after
    content: ""
    display table
    clear both

  &.pad-top
    padding-top 50px

.layout-left
  float left
  width 60%
  margin-bottom 90px

  & .layout-left
    margin-bottom 25px

  @media only screen and (max-width: 1024px)
    width 57%

  @media only screen and (max-width: 767px)
    float none
    width 100%

  &.half
    width 48%

    @media only screen and (max-width: 767px)
      float none
      width 100%

.layout-right
  margin 0 0 90px 72.5%
  padding-top 20px

  @media only screen and (max-width: 1024px)
    margin 0 0 0 65%

  @media only screen and (max-width: 767px)
    margin 0

  &.half
    margin-left 54%

    @media only screen and (max-width: 767px)
      margin-left 0


.thirds
  overflow hidden
  padding-bottom 40px

.third
  float left
  width 31.118846411804154%
  margin-right 3.221730382293762%

  &:nth-child(3n)
    margin-right 0 !important

  @media only screen and (max-width: 1023px)
    width 48%
    margin-right 4% !important

    &:nth-child(3n)
      margin-right 4% !important

    &:nth-child(2n)
      margin-right 0 !important

  @media only screen and (max-width: 767px)
    width 100%
    margin-right 0% !important

    &:nth-child(3n)
      margin-right 0 !important

    &:nth-child(2n)
      margin-right 0 !important

.generic
  clear both
  margin-top 75px

// Package Results

.package, .author
  margin-bottom 25px
  padding 0 0 25px
  border-bottom 1px solid gray5

  img
    float left
    margin 0 10px 20px 0

  h2
    margin 0

  h5
    font 600 14px/14px codefonts
    color text-color-subdued

  p
    clear left
    font-weight 600
    color gray3
    margin 0

  span
    color text-color-subdued
    margin 0 15px 0 0
    font-size 12px
    font-weight 600

    &:before
      margin-right 8px

  p.tags
    color text-color-subdued
    font-size 12px !important
    font-weight 600
    margin 2px 0 0

    &:before
      margin-right 6px

    a
      color text-color-subdued
      margin 0
      padding 0
      border 0
      border-radius 0
      text-decoration none

      &:hover
        color npmred
        background none

  &.profile
    border-bottom 0
    padding 0

    p
      clear none
      font-weight 400

.author
  h5
    font-family fonts

    a
      color text-color-subdued

// Collection Results

.collection, .package.third, .ecosystem
  margin-bottom 25px

  .c-name
    position relative
    display block
    height 45px
    border-radius 6px

    img
      float left
      margin 0 10px 0 0
      border-radius 6px 0 0 6px

    a
      display inline-block
      font 700 18px/43px fonts
      color background-color

      &:before
        float left
        font-size 24px
        line-height 45px
        margin-right 8px

    span
      float right
      margin 0 12px 0 0
      color background-color
      font 400 12px/45px fonts

  &.third
    .c-name
      border-radius 6px 6px 0 0
    img
      border-radius 6px 0 0 0

  .c-details
    padding 20px 0

    h5
      margin 0 0 5px

    p
      margin-bottom 15px

      &.tags
        color text-color-subdued
        font-size 12px !important
        font-weight 600
        margin 0

        &:before
          margin-right 6px

        a
          color text-color-subdued
          margin 0
          padding 0
          border 0
          border-radius 0
          text-decoration none

          &:hover
            color npmred
            background none

  &.third
    .c-details
      padding 20px
      border 2px solid gray5
      border-width 0 2px 2px 2px
      border-radius 0 0 6px 6px

      p
        font 400 14px/18px fonts

.ecosystem
  .c-name
    text-align center
    height 140px

    img
      float none
      margin 0
      border-radius 0

    span
      position absolute
      bottom 0px
      right 10px

.package.third
  margin-bottom 25px
  margin-right 3.221730382293762%
  border-bottom 0
  padding-bottom 0

  .c-name
    border 2px solid gray5
    height 43px

    img
      margin -2px 10px 12px -2px

    a
      color text-color

      &:before
        float left
        font-size 24px
        line-height 45px
        margin-right 8px
        color gray5

    span
      color text-color


// Boxes

.box
  margin 0 0 30px
  // border-radius 6px
  // border 2px solid gray5
  font-weight 600
  font-size 16px

  p
    padding 14px
    margin 0

  a
    text-decoration none
    &:hover
      text-decoration underline

  li
    line-height 2.5
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    padding-right 10px
    border-bottom 1px solid gray5

    &:last-child
      border-bottom none

    span
      display inline-block
      width 28%
      margin 0 8px 0 0
      text-align left
      padding 0 2% 0 0
      // border-right 1px solid gray5
      color text-color-subdued

  &.list
    li
      padding 10px 15px
      border-bottom 1px solid gray5
      line-height 15px
      white-space normal
      overflow auto
      text-overflow none

      &:last-child
        border-bottom 0

      &.disabled
        color gray5

        a
          color gray5

      a
        display block
        font 700 16px/21px fonts

.box-action
  border-top 1px solid gray5
  padding 14px

  .list &
    border-top 0

  .icon-arrow-tri-right:before
    content ""

  .icon-arrow-tri-right:after
    font-family icomoon
    content "\e605"
    font-size 7px
    margin 0 0 0 6px

// Health and Stats

#health-stats
  .stat
    position relative
    border-bottom 1px solid gray5

    p
      position relative
      height 40px
      padding 0 14px
      font 400 16px/40px fonts
      z-index 1

      span
        float right
        font 600 12px/40px fonts
        color text-color-subdued


    em
      position absolute
      left 0
      top 0
      bottom 0
      background gray6
      z-index 0

  .overall-health
    position relative
    height 50px
    margin 0 -2px -2px
    padding 0 16px
    border-radius 0 0 4px 4px
    color background-color
    font 400 16px/50px fonts

    &.yay
      background green

    &.meh
      background orange

    &.uh-oh
      background yellow

    &.rip
      background black

    span
      float right
      margin 2px 0 0
      font-size 26px

// Tags

.tags
  margin 0 0 60px

  a
    display inline-block
    font 600 14px/14px fonts
    margin 0 3px 5px 0
    padding 5px 7px
    border-radius 2px
    border 1px solid gray5

    &:hover
      color background-color
      border 1px solid npmred
      background npmred

    &.icon-add
      color background-color
      border-color npmred
      background npmred

      &:hover
        border-color gray2
        background gray2

      &:before
        font-size 10px
        text-align center;

// Pagination
.pagination
  margin 50px 0 0

  a
    display inline-block
    border-radius 2px
    border 1px solid gray5
    text-align center
    margin 0 2px 10px
    padding 1px 11px
    font 600 16px/25px fonts
    color npmred

    &:hover, &.active
      color background-color
      background gray5

.side-nav
  margin 0 0 50px

  li
    list-style none
    a
      display inline-block
      border 1px solid gray5
      margin 0 0 5px
      padding 5px 15px
      text-align center
      font 700 16px/25px fonts
      border-radius 4px

      &:hover, &.active
        color background-color
        background npmred


// Lists

ul.userMosaic
  list-style none
  margin 0 0 30px 0
  padding 0
  float none
  overflow hidden

  li
    float left
    display block
    margin 0
    padding 3px 0
    position relative

  img
    display inline-block
    width mosaicSize
    height mosaicSize
    margin-right 10px
    border-radius 5px
    transition all 0.3s

  span
    margin 0
    padding 0
    vertical-align top
    line-height mosaicSize
    display none

  a:before
    display block
    position absolute
    width mosaicSize
    line-height mosaicSize
    text-align center
    content attr(title) " "
    opacity 0
    transition all 0.3s
    text-overflow ellipsis
    overflow hidden
    padding 0 6px

  // Many-user Mosaic
  &.many
    a:hover
      img
        opacity 0

    &:hover
      a:before
        opacity 1
      img
        opacity 0.1

  // Single-user Mosaic
  &.one
    a:before
      display none
    span
      display inline-block
