.markdown
  margin 0

  > h1
    margin 0
    padding 20px 0 5px 0
    text-align left
    line-height 1.2
    @extend .ellipsis
    white-space: normal
    overflow-y hidden
    text-transform none
    a
      color text-color
      text-decoration none

  >h2,
  h3,h4,h5,h6
    color text-color
    font-weight 700
    a
      font-weight 700
      color text-color
      text-decoration none

    &.deep-link
      a
        &:before
          display inline-block
          content "#"
          color white
          margin-left -20px
          width 20px
          transition all 0.2s
          @media only screen and (max-width: mobileMaxWidth)
            display none
        &:hover
          &:before
            color text-color

  h3
    font-size 20px

  h4,h5,h6
    font-size 18px

  ol, ul
    ol, ul
      margin 0 0 0 20px

  p, li
    font-size 16px
    a
      font-weight 600

  th
    font-weight bold

  td, th
    padding 0 5px
    background #F5F5F5

  img
    max-width 100%

// Grabbed all the themes from this repo:
// https://github.com/atom/atom-light-syntax
//
@import "highlights/light-syntax"
