.billing-header
  text-align left

.subscriptions,
.org-table
  border 1px solid table-border-grey

  tbody tr
    border-top 1px solid table-border-grey

  th,td
    padding 20px

    &:first-child
      width 70%

    &:last-child
      text-align center
      width 10%

    &:only-child
      text-align left
      width 100%

  tbody tr:last-child
    td:last-child
      text-align left
      width auto

  .circle-avatar,
  .name
    display inline-block
    vertical-align middle

  .circle-avatar
    padding-right 20px

    img
      border-radius 50%
      width 42px
      height 42px

  .display-name
    display block

  .icon-x
    border 0
    background none
    cursor pointer

.org-packages
  .icon-lock
    position relative
    top 3px
    color greigh3

.org-user-add
  input[type=text],
  input[type=radio],
  fieldset,
  label,
  button
    display inline-block
    vertical-align middle

  input[type=text]
    width 60%


.org-marketing-page
  h1
    font-size 46px

  h2
    font-size 42px
    font-weight 300
    line-height 1.238

  h3
    font-size 28px
    color npmred
    font-weight 300
    line-height 1.286
  h4
    color npmred
    font-size 18px
    line-height 1.3333
    margin-bottom 15px

  .description
    color #485165
    font-size 13px
    line-height 2.15
    margin-bottom 1em

  .button
    display inline-block

.marketing-banner-container
  background banner-back-blue
  margin -50px -20px 0
  padding 40px 20px 20px

.marketing-banner
  max-width 1180px
  margin 0 auto

.marketing-banner .img-container
  display none
  float right
  width 45%
  max-width 601px

.org-banner-info
  float left
  margin-right 20px

.org-marketing-description
  font-size 16px
  color #212121
  font-weight 300
  line-height 1.75

.org-marketing-feature-list li
  color #A5B3AA
  font-weight 300
  margin-top 20px

  &:first-child
    margin-top 0

.org-marketing-feature-list span
  color black

.org-marketing-pricing .intro-text
  text-align: center;

.org-marketing-pricing ul
  margin: 65px auto 0;
  text-align center
  width 75%

.org-marketing-pricing li
  display inline-block
  vertical-align middle
  width 33%
  margin-left -4px
  height 400px

  &:first-child
    margin-left 0

.org-marketing-pricing .img-container
  height 140px
  position relative
  margin-bottom 1em

  img
    position absolute
    top 50%
    left 50%
    -webkit-transform translate(-50%, -50%)
    transform translate(-50%, -50%)
    margin-right -50%

.org-pricing
  position relative
  height 100%

.org-pricing .org-plan
  font-size 16px
  font-weight 600

.org-price
  padding-top 10px
  padding-bottom 5px

.org-pricing .org-price .price
  color npmred
  font-size 31px
  display block
  font-weight 600

  &:before
    content '$'
    vertical-align super
    font-size 50%

.org-pricing .org-price .frequency
  font-size 14px
  font-weight 300

.org-pricing .org-sign-up-button-container
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  margin-right -50%

.org-details
  span
    display inline-block

  .includes
    font-weight 600

@media (min-width: mobileMaxWidth + 1)

  .marketing-banner
    .org-banner-info
      width 50%
      max-width 417px

    .img-container
      display block

  .org-marketing-main
    h2
      margin -95px 0 25px
      padding-bottom 25px
      border-bottom 1px solid #eaeaea
