#profile
  padding-top 30px

a.avatar
  max-width 100%
  display block
  img
    width 100%
    border-radius 5px

ul.social
  @extend .vanilla-list

  li
    &.twitter, &.github
      label
        display none
