#profile
  padding-top 30px

a.avatar
  max-width 100%
  display block
  img
    width 100%
    border-radius 5px

ul.meta
  @extend .vanilla-list
  li
    border-top 1px solid greigh5
    line-height 2
    &:first-child
      border none
