.tip
  margin 20px 0 0

  strong
    margin-right 5px

  > p
    display inline

  code
    background-color transparent
    font-size 1em
    white-space pre

    &:before,
    &:after
      content "`"
      display inline

