// global type vars

normal-font()
  font-family 'Source Sans Pro', 'Lucida Grande', sans-serif
  color greigh-darkest

header-font()
  font-family 'Helvetica Neue', 'Helvetica', sans-serif
  color greigh-darkest

code-font()
  font-family Consolas, "Liberation Mono", Menlo, Monaco, Courier, monospace
  color greigh-darkest


font-base = 0.8em
font-smallest = (font-base * .55)
font-smaller = (font-base * .75)
font-small = (font-base * .85)
font-large = (font-base * 2)
font-larger = (font-base * 3)
font-largest = (font-base * 4)

line-height-base = 200%
line-height-small = (line-height-base * .75)
line-height-large = (line-height-base * 1.25)


body
  normal-font()
  font-weight 400
  font-size font-base
  line-height line-height-base

// headers & paragraph

h1, h2, h3, h4, h5, h6
  header-font()
  margin 0
  padding 0
  font-weight 500

h1
  font-size font-largest
  line-height line-height-large

  .narrow &
    margin 0.2em 0
    text-align center
    font-size 32px

h2
  font-size font-larger
  line-height line-height-large

h3
  font-size font-large
  line-height line-height-large

h4
  font-size = (font-base * 1.25)
  line-height line-height-large

h5
  font-size = (font-base * 1.15)
  line-height line-height-large

hgroup
  margin 25px 0
  h1,h2
    margin 0
    padding 0
    text-align center
    a
      color primary
      text-decoration none
      &:hover
        color primary-darker
        text-decoration none

  &.breadcrumb
    *
      text-align left
    .description
      font-size 100%
      color greigh4
      font-weight 400


h6
  font-size = (font-base * 1.05)
  line-height line-height-larger

p
  font-size font-base
  line-height line-height-base
  margin-bottom font-base
// links

a
  color primary
  text-decoration none
  &:hover
    color primary-darker

// code

strong
  &.code
    code-font()

blockquote
  padding 0 15px
  color #555
  border-left 4px solid #CCC

code
  code-font()
  background-color greigh-lighter
  font-size font-base()

pre
  overflow-x auto
  code
    display block
    margin 0 0 15px 0
    padding 8px
    border-radius 2px

// modifiers

.visible
  display block
  visibility visable

.hidden
  display none

.fake-strong
  font-weight normal

  &:before,
  &:after
    content "*"
    display inline
