.red
  color npmred

.subdued
  opacity 0.6

.full-width
  width 100%

.center, .centered
  text-align center

body
  normal-font()
  font-weight 400
  font-size 16px
  line-height 25px
  letter-spacing -0.03em

a
  color npmred
  text-decoration none
  &:hover
    text-decoration underline
  &.unadorned
    color text-color
    font-weight 400

  .sidebar &
    color greigh2
    @extend .red-on-hover
    font-weight 600

h1
  margin 0
  padding 30px 0 0 0
  font-weight 400
  font-size 44px
  line-height 1.2
  letter-spacing -1.5px
  color greigh1
  &.centered
    text-align center
    padding 40px 0 20px 0

  .narrow &
    margin 0.2em 0

h2
  margin 0
  padding 20px 0 10px 0
  font-weight 700
  font-size 24px
  color text-color
  letter-spacing 0
  a
    font-weight 700

  span
    font-weight 400

  &:before
    font-size 45px
    float left
    margin-right 10px

  &.ruled
    border-bottom 2px solid greigh6
    padding-bottom 22px
    margin-bottom 20px


hgroup
  margin 30px 0
  text-align center

  & h2
    font-weight 300
    margin 10px 0

h3
  display block
  margin 0
  padding 20px 0 10px 0
  font-size 20px
  font-weight 600
  line-height 1
  color greigh2

  .sidebar &
    color npmred
    a
      color npmred


h1, h2, h3
  &.undecorated
    a
      color text-color

p
  margin 0 0 15px 0

  &.list-of-links a
    font-weight 400

strong
  &.code
    code-font()

blockquote
  padding 0 15px
  color #555
  border-left 4px solid #CCC
