<h2 class="centered ruled">
  recently updated packages
</h2>

{{#each items}}
  <ul class="columnar">
    {{#each this}}
      <li>{{> package-widget}}</li>
    {{/each}}
  </ul>
{{/each}}

{{> pagination}}
