.payment-nav
  display flex
  color greigh3
  li
    padding 0.5em
    list-style none

  &:first-of-type
    width 75%

.big-data
  display inline-block
  width 20%
  padding 0px
  margin 0px
  text-align center
  .num
	font-size 80px
	line-height 80px
	height 80px
  .desc
    display block
    color greigh3
    font-size 16px
  .dolla
	font-size 40px
	vertical-align top
	line-height 80px
	height 80px
	position relative
	top -8px
  .period
		font-size 30px
		vertical-align baseline
		line-height 80px
		height 80px
		padding-left 10px
.expando-row
  h3
    background-color midnight
    color white
    padding 5px
    margin 20px 0px
