.payment-nav
  display flex
  color greigh3
  li
    padding 0.5em
    list-style none

  &:first-of-type
    width 75%
.status-row
  display flex
  flex-direction row
  margin-top 20px
.big-data
  flex 1 1 20%
  width 20%
  padding 0px
  margin 0px
  margin-top 10px
  text-align center
  .num
	font-size 80px
	line-height 80px
	height 80px
  .tiny
    display block
    color greigh3
    font-size 16px
  .dolla
	font-size 40px
	vertical-align top
	line-height 80px
	height 80px
	position relative
	top -8px
.disclaimer
  flex 1 1 40%
  flex-direction column
  justify-content center
  vertical-align middle
  @extend .vanilla-list
  line-height 175%
  background greigh7
  color greigh3
  height 140px
  margin-left 50px
  ul
    margin 20px
    height 100%
    li
      line-height 200%
.expando-row
  @extend .vanilla-list

  h3
    background secondary
    padding 10px
    color white
    margin 20px auto
