<div class="container">

  <div class="centered">
    <h1 id="what-npm-is-for">npm is the package manager for JavaScript</h1>
  </div>

  <div id="home-stats">
    {{#if totalPackages}}
      <div class="stat icon-package-hex">
        <strong class="pretty-number">{{totalPackages}}</strong>
        total packages
      </div>
    {{/if}}

    {{#if downloads.day}}
      <div class="stat icon-cal-24hours">
        <strong class="pretty-number">{{downloads.day}}</strong>
        downloads in the last day
      </div>
    {{/if}}

    {{#if downloads.week}}
      <div class="stat icon-cal-7days">
        <strong class="pretty-number">{{downloads.week}}</strong>
        downloads in the last week
      </div>
    {{/if}}

    {{#if downloads.month}}
      <div class="stat icon-cal-30days">
        <strong class="pretty-number">{{downloads.month}}</strong>
        downloads in the last month
      </div>
    {{/if}}
  </div>

</div>

<h2 class="centered">
  <a id="explicit" href="#explicit">Packages People 'npm install' a Lot</a>
</h2>
<ul class="columnar">
  {{#each explicit}}
    <li>{{> package-widget}}</li>
  {{/each}}
</ul>

<h2 class="centered">
  <a id="recent" href="/browse/updated">Recently Updated Packages</a>
</h2>
<ul class="columnar">
  {{#each updated}}
    <li>{{> package-widget}}</li>
  {{/each}}
</ul>

<h2 class="centered">
  <a id="depended" href="/browse/depended">Most Depended-Upon Packages</a>
</h2>
<ul class="columnar packages">
  {{#each depended}}
    <li>{{> package-widget}}</li>
  {{/each}}
</ul>
