<div class="tablet-width markdown container">
<hgroup>
  <h1>npm Private Modules</h1>
  <h2>create and share unlimited private modules for $7/month</h2>
</hgroup>

{{#if isPaid}}
<p>When you pay for private modules, you can:</p>

<ul>
  <li>Host as many private packages as you want</li>
  <li>Give read access or read-write access for those packages to any other paid user</li>
  <li>Install and use any packages that other paid users have given you read access to</li>
  <li>Collaborate on any packages that other paid users have given you write access to</li>
</ul>

<a data-event-trigger="click" data-event-name="billing-via-private-modules-page" class="button" href="https://www.npmjs.com/settings/billing">sign up</a>
{{/if}}

  {{{md}}}
</div>
