<h1>{{t "company.whoshiring.title"}}</h1>

<h2>{{t "company.whoshiring.subtitle"}}</h2>

<div class="container">
  <div class="thirds tab-content" data-hiring-template="hiring-thirds">
  </div>
</div>

<p>
  {{{t "company.whoshiring.addCompany"}}}
</p>
