
<hgroup>
  <h1>{{t "company.whoshiring.title"}}</h1>
  <h2>{{t "company.whoshiring.subtitle"}}</h2>
</hgroup>

<div class="hiring-container" data-template="full"></div>

<p class="center">
  {{{t "company.whoshiring.addCompany"}}}
</p>
