<div class="ad hiring-widget-sidebar">
  <h3>
    <a href="{{companies.0.url}}">
      {{companies.0.name}} is hiring
    </a>
  </h3>

  <p>{{{companies.0.description}}}</p>

  <p>
    {{companies.length}} more companies are hiring.
    <a href="/whoshiring">View more</a>.
  </p>
</div>
