<div class="ad">
  <p>
    <a href="{{companies.0.url}}">{{companies.0.name}}</a> and {{companies.length}} other companies are hiring.
    <a class="quiet" href="/whoshiring">View all&hellip;</a>
  </p>
</div>
