<div class="container">

  <div class="centered">
    <h1>npm is the package manager for <span id="what-npm-is-for">node</span></h1>
  </div>

  <div id="home-stats">
    {{#if totalPackages}}
      <div class="stat icon-package-hex">
        <strong class="pretty-number total-packages">{{totalPackages}}</strong>
        total packages
      </div>
    {{/if}}

    {{#if downloads.day}}
      <div class="stat icon-cal-24hours">
        <strong class="pretty-number">{{downloads.day.downloads}}</strong>
        downloads in the last day
      </div>
    {{/if}}

    {{#if downloads.week}}
      <div class="stat icon-cal-7days">
        <strong class="pretty-number">{{downloads.week.downloads}}</strong>
        downloads in the last week
      </div>
    {{/if}}

    {{#if downloads.month}}
      <div class="stat icon-cal-30days">
        <strong class="pretty-number">{{downloads.month.downloads}}</strong>
        downloads in the last month
      </div>
    {{/if}}
  </div>

</div>

<h2 id="explicit" class="centered ruled">
  <a href="#explicit">packages people 'npm install' a lot</a>
</h2>
<ul class="columnar">
  {{#each explicit}}
    <li>{{> package-widget}}</li>
  {{/each}}
</ul>

<h2 id="getting-started" class="centered ruled">
  <a href="#getting-started">getting started</a>
</h2>

<ul class="columnar">

  <li>
    <h3><a href="http://nodejs.org/download/">installing npm</a></h3>
    <p>
      The npm command-line tool is bundled with node and io.js. If you have
      either of those installed, then you already have npm too. If not, go
      <a href="https://iojs.org/">download io.js</a> or
      <a href="http://nodejs.org/download/">node</a>.
    </p>
  </li>

  <li>
    <h3><a href="https://docs.npmjs.com">screencasts and docs</a></h3>
    <p>
      We've got a <a href="https://docs.npmjs.com/">new docs site</a> featuring videos and tutorials to help
      you make your javascript dreams come true. Head on over to
      <a href="https://docs.npmjs.com/">docs.npmjs.com</a>
    </p>
  </li>

  <li>
    <h3><a href="/whoshiring">get a job</a></h3>
    <div class="hiring-container" data-template="vanilla"></div>
  </li>
</ul>


<h2 id="recent" class="centered ruled">
  <a href="/browse/updated">recently updated packages</a>
</h2>
<ul class="columnar">
  {{#each modified.results}}
    <li>{{> package-widget}}</li>
  {{/each}}
</ul>

<h2 id="depended" class="centered ruled">
  <a href="/browse/depended">most depended-upon packages</a>
</h2>
<ul class="columnar packages">
  {{#each dependents.results}}
    <li>{{> package-widget}}</li>
  {{/each}}
</ul>

<script type="application/ld+json">
  { "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : "npm, Inc.",
    "url" : "https://www.npmjs.com",
    "sameAs" : [ "http://twitter.com/npmjs",
      "http://plus.google.com/117779828622760977116",
      "https://www.youtube.com/channel/UCK71Wk0I45SLTSXQA23GdIw"],
    "logo": "https://www.npmjs.com/static/images/npm-logo.svg"
  }
</script>
