<h1>Components</h1>
<h2>Navigation</h2>
<h3>Primary Navs</h3>
<h4>Nav 3</h4>
<div class="nav-3-container">
  <ul class="nav-3 clear" role="navigation">
    <li class="current"><a href="#">24 Packages</a></li>
    <li><a href="#">5 Collaborators</a></li>
    <li><a href="#">Settings</a></li>
  </ul>
</div>
<h3>Breadcrumbs</h3>
<h4>Flow Logic</h4>
<div class="nav-breadcrumb-flow-indicator-container">
  <ul class="nav-breadcrumb-flow-indicator">
    <li class="done">Create Account</li>
    <li class="current">Create Organization</li>
    <li>Invite Members</li>
  </ul>
</div>

<h2>Forms</h2>
<h3>Radios &amp; Checkboxes</h3>

<h4>Slide checkbox</h4>
<label class="switch-container"><input type="checkbox" class="switch" checked /><div class="switch"></div><span class="a11y-only">Read / Read-write switch</span></label>

<h4>Standard Radio</h4>
<fieldset>
  <legend>Radio buttons:</legend>
  <input name="org-type" id="free-org-radio" value="free-org" checked="checked" type="radio">
  <label for="free-org-radio">Create a Free Org</label>
  <input name="org-type" id="premium-org-radio" value="premium-org" type="radio">
  <label for="premium-org-radio">Create a Premium Org</label>
</fieldset>
