<div class="nav-breadcrumb-flow-indicator-container">
  <ul class="nav-breadcrumb-flow-indicator">
    <li class="done">Create Account</li>
    <li class="current">Create Organization</li>
    <li>Invite Members</li>
  </ul>
</div>
{{> billing_info orgsPlan=true}}
