<div class="nav-breadcrumb-flow-indicator-container">
  <ul class="nav-breadcrumb-flow-indicator">
    <li class="done">Create Account</li>
    <li class="current">Create Organization</li>
    <li>Invite Members</li>
  </ul>
</div>
<div class="main right-well-fixed clear">
  <div class="content-column">
    <h1>Create an Organization</h1>
    <form method="POST" id="org-form" action="/settings/billing/subscribe">
      <section>

        <label for="fullname">Organization Name</label>
        <input required="required" type="text" id="fullname" name="fullname" placeholder="Name of Organization&hellip;" />
        <p class="description">Choose wisely! The Org name <strong class="fake-strong">cannot</strong> be changed.</p>

        <label for="orgName">Organization Namespace</label>
        <input required="required" type="text" id="orgName" name="orgName" />

        <fieldset>
          <legend>Organization Type</legend>
          <ul>
            <li>
              <input type="radio" id="focused" name="paid-org-type" value="focused" slected="selected"/>
              <label for="focused" class="collapsible-label">Focused Org</label>
              <p class="description">
                <span class="included">$14/month for 2 included users</span>
                <span class="additional">$7/month for additional users</span>
              </p>
            </li>
            <li>
              <input type="radio" id="project" name="paid-org-type" value="project"/>
              <label for="project" class="collapsible-label">Project Org</label>
              <p class="description">
                <span class="included">$70/month for 10 included users</span>
                <span class="additional">$7/month for additional users</span>
              </p>
            </li>
            <li>
              <input type="radio" id="full-company" name="paid-org-type" value="full-company"/>
              <label for="full-company" class="collapsible-label">Full Company Org</label>
              <p class="description">
                <span class="included">$700/month for 100 included users &amp; dedicated support</span>
                <span class="additional">$7/month for additional users</span>
              </p>
            </li>
          </ul>

        </fieldset>
      </section>
      <section>
        <h2>Billing information</h2>
        <label for="billing-email">Billing Email</label>
        <input type="email" name="billing-email" id="billing-email" />

        <div class="inline-input-set">
          <div class="card-number">
            <label for="billing-card-num">Card #</label>
            <input required="required" type="text" name="billing-card-num" id="billing-card-num" />
          </div>

          <div class="cvv">
            <label for="billing-cvv">CVV</label>
            <input required="required" type="text" name="billing-cvv" id="billing-cvv" />
          </div><!--/.cvv-->
        </div><!--/.inline-input-set-->

        <fieldset>
          <legend>Expiration Date</legend>
          <div class="inline-input-set">
            <div class="month">
              <label for="billing-month"><span class="a11y-only">Month</span></label>
              <input required="required" type="text" minlength="2" maxlength="2" name="billing-month" placeholder="MM" />
            </div><!--/.month-->
            <div class="year">
              <label for="billing-year"><span class="a11y-only">Year</span></label>
              <input required="required" type="text" minlength="4" maxlength="4" name="billing-year" placeholder="YYYY" />
            </div><!--/.year-->
          </div><!--/.inline-input-set-->
        </fieldset>
      </section>



      {{> form_security}}
      <input type="hidden" name="planType" value="orgs" />
      <input type="submit" value="Make it so" />

    </form>
  </div>
  <div class="sidebar">
    <div class="inset">
      <h3>Let the wombat help you</h3>
      <ul>
        <li>npm Organizations simplifies package management.</li>
        <li>Open-Source Orgs have a dedicated namespace, and can host any number
          of public packages and have any number of teams.</li>
        <li>Premium Orgs also have a dedicated namespace, unlimited teams and public
        package hosting. Plus, Premium Orgs can host any number of private packages to
        users, and pay for any number of npm users to be part of the Org's teams.</li>
      </ul>
      <img src="/static/images/wombat-construction.svg" alt="NPM Wombat with construction hat" />
    </div><!--/.inset-->
  </div><!--/.sidebar-->
</div><!--/.main-->
