<div class="container">

  <section>
    <div class="marketing-banner">
      <div class="org-banner-info">
        <h1>Organizations are here!</h1>
        <h3>Simplify management of public and private packages.</h3>
        <p class="description">Manage multiple npm accounts, transfer administrative
        control of packages, create a company-specific dashboard, add read-only
        collaborators and more. You're going to love npm Organizations.</p>
        <a href="/org/create" class="button">Create an Organization</a>
      </div>
      <div class="img-container">
        <img src="/static/images/packing-wombat.svg" />
      </div>
    </div>
  </section>

  <section>
    <div class="right-well-fixed clear">
      <div class="content-column">
        <h3></h3>
        <p class="description"></p>
        <div class="img-container">
          <img src="" />
        </div>
      </div>
      <div class="sidebar">
        <h2></h2>
        <h4></h4>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <h4></h4>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="org-marketing-pricing">
      <h2></h2>
      <p></p>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <p></p>
    </div>
  </section>

</div>
