<div class="container">

  <section>
    <div class="marketing-banner">
      <div class="org-banner-info">
        <h1></h1>
        <h3></h3>
        <p class="description"></p>
        <a href="/org/create" class="button"></a>
      </div>
      <div class="img-container">
        <img src="" />
      </div>
    </div>
  </section>


</div>
