<div class="container">

  <section>
    <div class="marketing-banner">
      <div class="org-banner-info">
        <h1>Organizations are here!</h1>
        <h3>Simplify management of public and private packages.</h3>
        <p class="description">Manage multiple npm accounts, transfer administrative
        control of packages, create a company-specific dashboard, add read-only
        collaborators and more. You're going to love npm Organizations.</p>
        <a href="/org/create" class="button">Create an Organization</a>
      </div>
      <div class="img-container">
        <img src="/static/images/packing-wombat.svg" />
      </div>
    </div>
  </section>

  <section>
    <div class="right-well-fixed clear">
      <div class="content-column">
        <h3>Public packages are always free at npm. Public packages are free for organizations too.</h3>
        <p class="description">Creating an npm Organization (an "Org") will create
        a single place to centralize and manage your team's packages. Packages
        will all be filed under the Org, with billing for private packages directed
        to a central company account. All Org account owners can manage the organization
        settings - from profile details to billing information.</p>
        <div class="img-container">
          <img src="/static/images/construction-wombat.svg" />
        </div>
      </div>
      <div class="sidebar">
        <h2>Features</h2>
        <h4>With a free npm Organizations account, you can</h4>
        <ul>
          <li>Namespace for the organization</li>
          <li>Host any number of public packages</li>
          <li>Have any number of teams</li>
        </ul>
        <h4>With a pro npm Organizations account, you can</h4>
        <ul>
          <li>Everything you can do with a free account, plus&hellip;</li>
          <li>Host any number of private packages</li>
          <li>Have a billing contact not tied to any specific user</li>
          <li>Pay for any number of npm users</li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="org-marketing-pricing">
      <h2>Pricing for npm Organizations</h2>
      <p>Pricing for Orgs is based on how many users within your company who need Org access:</p>
      <ul>
        <li>
          <div class="img-container">
            <img src="2wombats.svg">
          </div>
          <div class="org-pricing">
            <div class="org-plan"></div>
            <div class="org-price">
              <span class="price">$14</span>
              <span class="frequency">monthly</span>
            </div>
            <div class="org-details">
              Includes 2 users.
            </div>
            <div class="org-sign-up-button-container">
              <a href="/org/create" class="button">Sign up</a>
            </div>
          </div>
        </li>
        <li>
          <div class="img-container">
            <img src="7wombats.svg">
          </div>
          <div class="org-pricing">
            <div class="org-plan"></div>
            <div class="org-price">
              <span class="price">$70</span>
              <span class="frequency">monthly</span>
            </div>
            <div class="org-details">
              Includes 7 users.
            </div>
            <div class="org-sign-up-button-container">
              <a href="/org/create" class="button">Sign up</a>
            </div>
          </div>
        </li>
        <li>
          <div class="img-container">
            <img src="100wombats.svg">
          </div>
          <div class="org-pricing">
            <div class="org-plan"></div>
            <div class="org-price">
              <span class="price">$1000</span>
              <span class="frequency">monthly</span>
            </div>
            <div class="org-details">
              Includes 100 users + Premium Support from npm.
            </div>
            <div class="org-sign-up-button-container">
              <a href="/org/create" class="button">Sign up</a>
            </div>
          </div>
        </li>
      </ul>
      <p></p>
    </div>
  </section>

</div>
