<div class="org-marketing-page">
  <section>
    <div class="marketing-banner-container">
      <div class="marketing-banner clear">
        <div class="org-banner-info">
          <h1>Organizations are here!</h1>
          <h3>Simple management of public and private packages.</h3>
          <p class="description">The beta version of npm Organizations is available
          now! Great features are available now to invite-only customers &mdash; hosting
          public and private packages, managing multiple npm accounts, and more.</p>
          <a href="/org/create" class="button">Create an Organization</a>
        </div>
        <div class="img-container">
          <img src="/static/images/wombat-packing.svg" />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="right-well clear org-marketing-main">
      <div class="content-column">
        <h3>Organizations and Teams</h3>
        <p class="org-marketing-description">Forming an npm Organization &mdash; or Org
        &mdash; will create a single place to centralize and manage your team&rsquo;s packages.
        You can create as many teams as needed within your new Org. Packages will
        be filed under the Org, and you can designate access to packages by team.
        Billing for private packages can be directed to a central company account,
        and all Org account owners can manage the Org &mdash; from profile details to
        permissions to billing information.</p>
        <div class="img-container">
          <img src="/static/images/wombat-drill.svg" />
        </div>
      </div>
      <div class="sidebar">
        <h2>Features</h2>
        <h4>With an npm Org, you can:</h4>
        <ul class="org-marketing-feature-list">
          <li><span>Host any number of public and private packages</span></li>
          <li><span>Have any number of teams</span></li>
          <li><span>Pay for any number of users</span></li>
          <li><span>Effectively manage permissions for all packages in your organization</span></li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="org-marketing-pricing">
      <div class="intro-text">
        <h2>Pricing for npm Organizations</h2>
        <p>Pricing for Orgs is based on how many users within your company who need Org access:</p>
      </div>
      <ul class="vanilla-list clear">
        <li>
          <div class="img-container">
            <img src="/static/images/2-wombats.svg">
          </div>
          <div class="org-pricing">
            <div class="org-plan">Small Org</div>
            <div class="org-price">
              <span class="price">14</span>
              <span class="frequency">monthly</span>
            </div>
            <div class="org-details">
              <span class="includes">Includes 2 users.</span>
              <span class="additional">Additional users priced at $7/month/user</span>
            </div>
            <div class="org-sign-up-button-container">
              <a href="/org/create" class="button">Sign up</a>
            </div>
          </div>
        </li>
        <li>
          <div class="img-container">
            <img src="/static/images/7-wombats.svg">
          </div>
          <div class="org-pricing">
            <div class="org-plan">Medium Org</div>
            <div class="org-price">
              <span class="price">70</span>
              <span class="frequency">monthly</span>
            </div>
            <div class="org-details">
              <span class="includes">Includes 7 users.</span>
              <span class="additional">Additional users priced at $7/month/user</span>
            </div>
            <div class="org-sign-up-button-container">
              <a href="/org/create" class="button">Sign up</a>
            </div>
          </div>
        </li>
        <li>
          <div class="img-container">
            <img src="/static/images/100-wombats.svg">
          </div>
          <div class="org-pricing">
            <div class="org-plan">Large Org</div>
            <div class="org-price">
              <span class="price">700</span>
              <span class="frequency">monthly</span>
            </div>
            <div class="org-details">
              <span class="includes">Includes 100 users.</span>
            </div>
            <div class="org-sign-up-button-container">
              <a href="/contact" class="button">Contact npm</a>
            </div>
          </div>
        </li>
      </ul>
      <p></p>
    </div>
  </section>
</div>
