<form method="POST" action="/org/{{subscription.npm_org}}" class="center push-down">
  {{#if subscription.privateModules}}
    <h3>Are you sure you want to cancel your private modules subscription?</h3>
  {{else}}
    <h1>@{{subscription.npm_org}}</h1>
    <h3>Are you sure you want to cancel the subscription for this organization?</h3>
  {{/if}}
  {{> form_security}}
  <input type="hidden" name="updateType" value="deleteOrg">
<<<<<<< 061c6c19da716bfc84ebd7ee0931b3f8f4dc1ce5
  <a href="/settings/billing" class="button btn-inline btn-secondary push-down">No, go back</a>
  <button type="submit" class="button btn-inline push-down">Yes, cancel this subscription</button>
=======
  <a href="/settings/billing" class="push-down">No, go back</a>&nbsp; &nbsp; &nbsp; &nbsp;<button type="submit" class="button btn-inline push-down">Yes, cancel this subscription</button>
>>>>>>> 1599 subscription / CC / confirmation page
</form>
