<form method="POST" action="/org/{{subscription.npm_org}}">
  {{#if subscription.privateModules}}
    <p>Are you sure you want to cancel your private modules subscription?</p>
  {{else}}
    <p>Are you sure you want to cancel the subscription for the organization <strong>@{{subscription.npm_org}}</strong>?<</p>
  {{/if}}
  {{> form_security}}
  <input type="hidden" name="updateType" value="deleteOrg">
  <a href="/settings/billing" class="button btn-inline">No, go back</a>
  <button type="submit" class="button btn-inline">Yes, cancel this subscription</button>
</form>
