<p>Really? Cancel {{npm_org}}?</p>

<form method="POST" action="/org/{{npm_org}}">
  {{> form_security}}
  <input type="hidden" name="updateType" value="deleteOrg">
  <button type="submit" class="icon-x delete-package"><span class="a11y-only">Delete Private Modulest</span></button>
</form>
