<div id="secondary-nav">
  <div class="container">
    <a href="/profile-edit" data-tab="profile">edit your profile</a>
    <a class="active tab" data-tab="edit-email">edit email</a>
    <a href="/password" class="tab" data-tab="password">change password</a>
    {{!-- <a href="#" class="tab" data-tab="edit-order">edit package/collection order</a> --}}
  </div>
</div> <!-- / #secondary-nav -->

<div class="container layout-left">

  <h2>Email Address {{#if confirmed}}Confirmed{{else}}Reverted{{/if}}!</h2>

  {{#if confirmed}}

    <p>Your email address is now <code>{{user.email}}</code>.</p>

  {{else}}

    <p>You have successfully reverted the email address change attempt.</p>

    <p>Your email address is (once again) <code>{{user.email}}</code>,
      and the previous attempt to change it has been voided and completely
      removed from the system.</p>

    <p>If this happened without your knowledge or consent, then there's a
      very good chance that your password is no longer secure.</p>

    <p>Please <a href="/password">change your password now</a>.</p>

  {{/if}}

</div>