<div class="container narrow">

  <h1>password changed</h1>

  <p>Your new password is:</p>

  <pre><code>{{password}}</code></pre>

  <p>By the time you view this page, the server has already
  forgotten it, and the reset token has been consumed.</p>

  <p><a href='/login'>Login now</a> with this password. You will be prompted to change it immediately.</p>

</div>
