<div id="secondary-nav">
  <div class="container">
    <a href="/profile-edit" data-tab="profile">edit your profile</a>
    <a href="/email-edit" class="tab" data-tab="edit-email">edit email</a>
    <a class="active tab" data-tab="password">change password</a>
    {{!-- <a href="#" class="tab" data-tab="edit-order">edit package/collection order</a> --}}
  </div>
</div> <!-- / #secondary-nav -->

<form class="container tab-content" data-tab="password" method="post">
  <div class="layout-left">
    <h2>change password</h2>

    {{#if error}}
      <p>There was a problem!  The server said: {{error}}</p>
    {{/if}}

    <div class="layout-left half">

      <label for="current">current password</label>
      <input type="password" id="current" name="current">

      <label for="new">new password</label>
      <input type="password" id="new" name="new">
      <p class="help-text">Please choose something long and memorable</p>


      <label for="verify">verify password</label>
      <input type="password" id="verify" name="verify">

      <input type="submit" value="Make it so.">

      <input type="hidden" name="crumb" value="{{crumb}}"/>

    </div> <!-- / .layout-right.half -->
  </div> <!-- / .layout-left -->
</form> <!-- / .container -->