{{> profile-secondary-nav}}

<div class="container narrow">
  <hgroup>
    <h1>Change Password</h1>
  </hgroup>

  <form data-tab="password" method="post">

    <label for="current">current password</label>
    <input type="password" id="current" name="current">

    {{#if error.current}}
      <p class="error">Invalid current password</p>
    {{/if}}

    <label for="new">new password</label>
    <input type="password" id="new" name="new">
    <p class="help-text">The more characters the better</p>

    <label for="verify">verify password</label>
    <input type="password" id="verify" name="verify">

    {{#if error.verify}}
      <p class="error">Failed to verify password</p>
    {{/if}}

    <input type="submit" value="change password" class="full-width">

    <input type="hidden" name="crumb" value="{{crumb}}"/>
  </form>
</div>
