<div class="nav-breadcrumb-flow-indicator-container">
  <ul class="nav-breadcrumb-flow-indicator">
    <li class="done">Create Account</li>
    <li class="current">Sign up for Private Packages</li>
    <li>Publish</li>
  </ul>
</div>
{{> billing-info personalPlan=true}}
